<script src="{{BaseUrl}}res/core/js/page-analytic-meteorology/average-windspeed.js?ANTI_CACHE={{.AntiCache}}"></script>
<!--<div class="col-md-12">
	<div class="col-md-3 col-xs-12">
		<label class="control-label keyA-label">Series Breakdown</label>
		<select id="seriesBreakdown" data-bind="kendoDropDownList: { data: aws.SeriesBreakdown, dataValueField: 'value', dataTextField: 'text', suggest: true}"
			style="width:120px;">
        </select>&nbsp;
	</div>
	<div class="col-md-3 col-xs-12">
		<label class="control-label keyA-label">Time Breakdown</label>
		<select id="timeBreakdown" data-bind="kendoDropDownList: { data: aws.TimeBreakdown, dataValueField: 'value', dataTextField: 'text', suggest: true}"
			style="width:120px;">
        </select>&nbsp;
	</div>
</div>
<div class="col-md-12">
	<div id="averageWindSpeedChart"></div>
</div>-->
<div class="col-md-12">
	<div id="gridAvgWs"></div>
	<div class="clearfix">&nbsp;</div>
</div>