<script src="{{BaseUrl}}res/core/js/page-analytic-meteorology/turbulence-intensity.js?ANTI_CACHE={{.AntiCache}}"></script>
<div class="row">
	<div class="col-md-9">
		<div id="chartTI"></div>
		<div class="clearfix">&nbsp;</div>
	</div>
	<div class="col-md-3 turList">
		<div class="clearfix">&nbsp;</div>
		<div class="checkbox" id="showHideChkturbulence"></div>
		<div class="col-md-12 col-sm-12" id="right-turbine-turbulence"></div>
		<div class="col-md-12 no-padding" id="wCbScatter">
			<div class="checkbox no-padding">
				<label id="lCbScatter" style="padding-left: 1%;">
                    <input type="checkbox" id="sScater" name="filter" value="Scatter" >
                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                    <span class="colRed"><b class="colBlack">Show Scatter</b></span>
                </label>
			</div>
		</div>
	</div>
	<!-- <div id="chartTI" class="chart-custom"></div> -->
</div>