<script src="{{BaseUrl}}res/core/js/page-analytic-meteorology/wind-distribution.js?ANTI_CACHE={{.AntiCache}}"></script>
<style type="text/css">
	.wind-dist-chart circle {
		r: 4;
	}
</style>

<div class="col-md-8">
	<div class="tools btn-group pull-right btn-pdf">
		<button type="button" class="btn btn-primary btn-xs tooltipster tooltipstered Epdf" title="Export to Pdf" data-bind="click:function(){wd.getPDF('.div-windis')}">
	    	<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
	  	</button>
	</div>
	<div class="div-windis">
		<div class="panel-heading template-pdf">
			<img src="{{BaseUrl}}res/img/ostro-logo.png" class="navbar-brand" style="margin-top: 15px;"/>&nbsp;<h4>Energy</h4>
			<div class="col-md-12 text-center title-pdf">
				<span data-bind="text:wd.project()"></span> | Wind Distribution | <span data-bind="text:wd.dateStart()"></span> until <span data-bind="text:wd.dateEnd()"></span><br>
			</div>
		</div>
		<div class="wind-dist-chart">
			<div id="windDistribution" class="windrose-item-comparison"></div>
			<script id="legendItemTemplate" type="text/kendo">
		    	<span class="legend-windis">
			        <span class="legend-windis-marker" data-bind="style:{background: markerColor}"></span>
			        <span>#:name#</span>
			     </span>
		    </script>
		    <div data-bind="source:series" data-template="legendItemTemplate" id="legendWindis"></div>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
</div>
<div class="col-md-4 turList">
	<!-- <div class="panel-heading custom-header">Turbine List &nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Click the button to show detail"></i></div> -->
	<div class="clearfix">&nbsp;</div>
	<div class="checkbox" id="showHideChk"></div>
	<div class="col-md-12 col-sm-12" id="right-turbine-list"></div>
</div>