<script src="{{BaseUrl}}res/core/js/page-analytic-meteorology/wind-distribution.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="col-md-9">
	<div id="windDistribution"></div>
	<div class="clearfix">&nbsp;</div>
</div>
<div class="col-md-3 turList">
	<!-- <div class="panel-heading custom-header">Turbine List &nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Click the button to show detail"></i></div> -->
	<div class="clearfix">&nbsp;</div>
	<div class="checkbox" id="showHideChk"></div>
	<div class="col-md-12 col-sm-12" id="right-turbine-list"></div>
</div>