<script src="{{BaseUrl}}res/core/js/page-analytic-meteorology/windrose.js?ANTI_CACHE={{.AntiCache}}"></script>
<div class="col-md-12 list">
	<div class="col-md-3 col-xs-12 sector-part">
		<label class="control-label keyA-label">Sectors</label>
		<select id="nosection" name="table" data-bind="kendoDropDownList: { data: pm.sectionsBreakdownList, dataValueField: 'value', dataTextField: 'text', suggest: true, change: wr.ChangeSector }"
			style="width:50px;">
        </select>&nbsp;
		<label class="txtWar" data-bind="text: '&nbsp;&nbsp;Sector width : ' + wr.sectorDerajat() + ' °'">&nbsp;</label>
	</div>

	<div class="col-md-6 col-xs-12">
		<div id="legend-list" class="col-md-12 col-sm-12 pl15">
		</div>
	</div>
</div>

<div class="col-md-12" data-bind="foreach: wr.dataWindroseEachTurbine">
	<div class="col-md-3 col-xs-12 windrose-item">
		<i class="fa fa-search-plus tooltipster tooltipstered btn-zoom" onclick="wr.ZoomChart(this.id)" data-bind="attr:{id: 'btn-zoom-' + Name}" title="Zoom Chart" style="cursor: pointer;"></i>
		<div data-bind="attr:{id: 'chart-' + Name}"></div>
	</div>
</div>