<title>Wind Farm Demo - EACIIT APPLICATION</title>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<script>
	var viewModel = { appName: '/web/' };
</script>

<link rel="shortcut icon" href="{{BaseUrl}}res/img/favicon.ico" type="image/x-icon" />
<!-- <link rel="icon" href="{{BaseUrl}}res/img/logo.png" type="image/x-icon" /> -->

<!-- jquery -->
<script src="{{BaseUrl}}res/jquery/jquery-2.1.0.min.js"></script>
<script src="{{BaseUrl}}res/jquery/jquery-ui.min.js"></script>

<!-- pace -->
<!-- <link rel="stylesheet" href="{{BaseUrl}}res/pace/pace.css" />
<script src="{{BaseUrl}}res/pace/pace.min.js"></script>
<script>
	paceOptions = { ajax: false, document: false, eventLag: false }
	Pace.on('done', function () {
		$('.is-loading').removeClass('is-loading');
	});
</script> -->
<!-- knockout -->
<script src="{{BaseUrl}}res/knockout/knockout-3.4.0.js"></script>
<script src="{{BaseUrl}}res/knockout/knockout.mapping.js"></script>

<!-- lazyjs -->
<script src="{{BaseUrl}}res/lazyjs/lazy.min.js"></script>

<!-- underscore -->
<!-- <script src="{{BaseUrl}}res/js/underscore.min.js"></script> -->
<script src="{{BaseUrl}}res/js/lodash.js"></script>

<!-- bootstrap -->
<script src="{{BaseUrl}}res/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{BaseUrl}}res/bootstrap/css/bootstrap.min.css" />


<!-- font-awesome -->
<link rel="stylesheet" href="{{BaseUrl}}res/font-awesome/css/font-awesome.min.css" />

<!-- material-switch -->
<link rel="stylesheet" href="{{BaseUrl}}res/material-switch/style.css" />

<!-- kendo-ui -->
<!-- <link href="{{BaseUrl}}res/kendo-ui/styles/kendo.default.min.css" rel="stylesheet"> -->
<link href="{{BaseUrl}}res/kendo-ui/styles/kendo.common-bootstrap.min.css" rel="stylesheet">
<!-- <link href="{{BaseUrl}}res/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet"> -->
<link href="{{BaseUrl}}res/kendo-ui/styles/kendo.dataviz.min.css" rel="stylesheet">
<!-- <link href="{{BaseUrl}}res/kendo-ui/styles/kendo.dataviz.bootstrap.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="{{BaseUrl}}res/core/css/kendo.ez.css" /> -->
<link rel="stylesheet" href="{{BaseUrl}}res/kendo-ui/styles/kendo.ez.css" />
<script src="{{BaseUrl}}res/kendo-ui/js/kendo.all.min.js"></script>
<script src="{{BaseUrl}}res/kendo-ui/js/jszip.min.js"></script>

<!-- knockout-kendo -->
<script src="{{BaseUrl}}res/knockout-kendo/knockout-kendo.min.js"></script>

<!-- knockout-else -->
<script src="{{BaseUrl}}res/knockout-else/knockout-else.js"></script>

<!-- moment -->
<script src="{{BaseUrl}}res/moment/moment.min.js"></script>



<!-- tooltipster -->
<link rel="stylesheet" href="{{BaseUrl}}res/tooltipster/css/tooltipster.css" />
<link rel="stylesheet" href="{{BaseUrl}}res/tooltipster/css/tooltipster-val.css" />
<script src="{{BaseUrl}}res/tooltipster/js/jquery.tooltipster.min.js"></script>

<!-- excellent export -->
<script src="{{BaseUrl}}res/excellentexport/excellentexport.min.js"></script>

<!-- jquery.sortable -->
<script src="{{BaseUrl}}res/jquery.sortable/jquery.sortable.min.js"></script>

<!-- sweet alert -->
<link rel="stylesheet" href="{{BaseUrl}}res/sweetalert/sweet-alert.css">
<script src="{{BaseUrl}}res/sweetalert/sweet-alert.min.js"></script>
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/sweetalert-custom.css">

<!-- toolkit -->
<script src="{{BaseUrl}}res/toolkit/toolkit.js"></script>

<!-- fonts -->
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/fonts.css" />

<!-- normalize -->
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/normalize.css" />

<!-- spinkit -->
<link rel="stylesheet" href="{{BaseUrl}}res/spinkit/spinkit.css" />
{{.}}
<!-- core -->
<script src="{{BaseUrl}}res/core/js/app.js?ANTI_CACHE={{.AntiCache}}"></script>
<script src="{{BaseUrl}}res/core/js/layout.js?ANTI_CACHE={{.AntiCache}}"></script>
<script src="{{BaseUrl}}res/core/js/kendochart2grid.js"></script>
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<!-- adminLTE -->
<link rel="stylesheet" href="{{BaseUrl}}res/adminLTE/css/AdminLTE.css">
<link rel="stylesheet" href="{{BaseUrl}}res/adminLTE/css/skins/_all-skins.min.css">
<!-- SlimScroll -->
<script src="{{BaseUrl}}res/adminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{BaseUrl}}res/adminLTE/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{{BaseUrl}}res/adminLTE/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{BaseUrl}}res/adminLTE/js/demo.js"></script>
<!-- circle -->
<script src="{{BaseUrl}}res/js/pie-chart.js"></script>
<!-- <link rel="stylesheet" href="{{BaseUrl}}res/core/css/layout.css" /> -->
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/layout2.css" />
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/font-awesome-animation.min.css" />
<link rel="stylesheet" href="{{BaseUrl}}res/core/css/ec-cegete.css" />