<script>
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-log.js"></script>

<div>
	<div class="col-md-4 col-sm-4 ez panel-filter" style="margin-top:15px">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">Filter</h3>
				<div class="panel-nav-button">
					<div class="form-group relative align-right no-margin no-padding hardcore">
						<button class="btn btn-sm btn-primary" data-bind="click: log.refreshData">
							<i class="fa fa-refresh"></i> Reload Data
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div id="from-filter">
					<p>Filter shown data.</p>
					<div class="form-group form-group-table-name">
						<div class="input-group input-group-sm ez width-full">
							<span class="input-group-addon width-100 align-right">Search</span>
							<input type="text" class="form-control" required data-required-msg="cannot be empty" placeholder="Type value here ..." data-bind="value: log.filter.search" />
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-sm-8 ez panel-content" style="margin-top:15px">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading">
				<h3 class="no-margin">
					<button class="btn-toggle-filter no-padding">
						<i class="fa fa-angle-double-left tooltipster color-grey" title="Toggle filter pane visibility"></i>
					</button>
					Data Log
				</h3>
				<div class="panel-nav-button">
				</div>
			</div>
			<div class="panel-body">
				<div data-bind="visible: log.contentIsLoading">
					{{template "_loader.html"}}
				</div>
				<div data-bind="visible: !log.contentIsLoading()">
					<p data-bind="visible: log.selectedTableID() != ''">
						Data on table <span class="tag bg-orange">log</span>.
					</p>
					<div class="grid-log"></div>
					<div class="no-grid" data-bind="visible: app.is(log.selectedTableID, '')">No data to be shown.</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
