<script src="{{BaseUrl}}res/core/js/page-dashboard-production.js?ANTI_CACHE={{.AntiCache}}&v=1.0.0"></script>

<div data-bind="visible:lgd.isProduction">
	<div class="col-md-12 col-sm-12">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					<!--Production&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>-->
				</div>
				<div class="panel-body">
					<center>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-sm btn-primary active radio-filter">
                  <input type="radio" name="periodTypeProd" id="periodTypeLW" autocomplete="off" value="lw" checked> Last Week
                </label>
							<label class="btn btn-sm btn-primary radio-filter">
                  <input type="radio" name="periodTypeProd" id="periodTypeMTD" autocomplete="off" value="mtd"> MTD
                </label>
							<label class="btn btn-sm btn-primary radio-filter">
                  <input type="radio" name="periodTypeProd" id="periodTypeYTD" autocomplete="off" value="ytd"> YTD
                </label>
						</div>
					</center>
					<center>
						<br/>
						<span id="prodDateRangeStr" data-bind="text: prod.prodDateRangeStr"></span>
					</center>
				    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-xs tooltipster tooltipstered Epdf" title="Export to Excel" data-bind="click:function(){prod.getExcelGrid();}"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
					<div class="clearfix">&nbsp;</div>
					<div id="productionGrid"></div>
					<div class="clearfix">&nbsp;</div>
					<div class="col-md-12">
						<strong><span><i class="fa fa-star txt-green"></i> &nbsp;: 100</span></strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>