<script src="{{BaseUrl}}res/core/js/page-dashboard-summary.js?ANTI_CACHE={{.AntiCache}}&v=1.0.1"></script>
<style type="text/css">
	.drilldown-custom{
		 margin-bottom: -10px;
	    margin-top: 5px;
	    position: relative;
	    z-index: 10;
	    text-align: center;
	}
	.monthlyProjectChart{
		margin-bottom: 15px;
	}
</style>
<script id="templateProd" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: kendo.toString(moment(vm.dateAsOf()).utc().format('DD MMM YYYY')) # #: category #:00</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2') # kWh</span></div>
  # } #
</script>

<script id="templateCum" type="text/x-kendo-template">
  <div><b>#: kendo.toString(kendo.parseDate(category), 'dd MMM yyyy') #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1') # GWh</span></div>
  # } #
</script>
<script id="templateAvail" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1') # %</span></div>
  # } #
</script>
<script id="templateAvailPercentage" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'p1') #</span></div>
  # } #
</script>
<script id="templateProdMonth" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(kendo.format('{0:n2}',points[i].value), 2)# GWh</span></div>
  # } #
</script>
<!-- <script id="templateDTLEbyType" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { 
  		if(i==0) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# MWh</span></div>
  # 	} else if(i==1) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# hours</span></div>
  # 	} else if(i==2) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: points[i].value # times</span></div>
  # 	}
  	} #
</script> -->
<script id="templateDTLEbyType" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) {
  		# <table>#
        if(points[i].series.name == 'Frequency') { #
            <tr><td><strong>#: points[i].series.stack# </strong></td><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n0')#</td></tr>
  #     } else if (points[i].series.name == 'Duration') { #
            <tr><td><strong>#: points[i].series.stack# </strong></td><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n1')# Hours</td></tr>
  #     } else { #
            <tr><td><strong>#: points[i].series.stack# </strong></td><td>#: kendo.toString(points[i].value, 'n1')# MWh</td></tr>
  #     } 
  		# </table>#
  } #
</script>
<script id="templateDowntimeLostEnergy" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# MWh</span></div>
  # } #
</script>
<script id="templateWindiness" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# m/s</span></div>
  # } #
</script>
<script id="templateDistribution" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'p1') #</span></div>
  # } #
</script>

<div data-bind="visible:lgd.isSummary">
	<div class="col-md-8 col-sm-8">
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Latest Production (kWh)
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs prodToTable" onclick="$('#chartProduction').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.ProductionChart(sum.dataSource().Productions)">
                              <input type="radio" name="convert" id="tochart" value="tochart" autofocus="true"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
				</div>
				<div class="panel-body content-chart">
					<div id="chartProductionCustomTooltip"></div>
					<div id="chartProduction"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Controller Generation (GWh) - Last 12 Months
					<span class="tools pull-right">
					  <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Shows Controller Generation"></i>
	                  <div class="btn-group" data-toggle="buttons">
	                      <label class="btn btn-primary btn-xs" onclick="$('#chartProdMonthFleet').kendoChart2Grid('n2')">
	                          <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
	                      </label>
	                      <label class="btn btn-primary btn-xs" onclick="sum.ProdMonth('chartProdMonthFleet',sum.dataSourceScadaAvailability())">
	                          <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
	                      </label>
	                  </div>
	              </span>
				</div>
				<div class="panel-body content-chart">
					<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
					<div id="chartProdMonthFleet"></div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Availability (%) - Last 12 Months &nbsp;
					<!-- <span data-bind='visible: lgd.isFleet'>
						<select type="text" id="projectAvail" class="ddlAvailability" data-bind="kendoDropDownList: { value: lgd.projectAvailSelected, data: lgd.projectAvailList, dataTextField: 'text', dataValueField: 'value', change:sum.UpdateAvailability, suggest: true}"></select>
					</span> -->
        			<span class="tools pull-right">
						<i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Shows Total Av. Impacted by MD and GD"></i>
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-primary btn-xs" onclick="$('#chartAbility').kendoChart2Grid('n1')">
						      <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
						  </label>
						  <label class="btn btn-primary btn-xs" onclick="sum.AvailabilityChart(sum.availData(),sum.availSeries())">
						      <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
						  </label>
						</div>
                  	</span>
				</div>
				<div class="panel-body content-chart">
					<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
					<div id="chartAbility"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Cumulative Production (MWh) - Month to Date
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartCumProduction').kendoChart2Grid('n1','dd-MMM-yyyy')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.CumProduction(sum.dataSource().CummulativeProductions)">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
				</div>
				<div class="panel-body content-chart">
					<!--<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>-->
					<div id="chartCumProduction"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
			<div class="panel ez no-padding hardcore plf-div">
				<div class="panel-heading">
				PLF (%) - Last 12 Months
				<span class="tools pull-right">
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary btn-xs" onclick="$('#chartPLFFleet').kendoChart2Grid('n0')">
                          <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                      </label>
                      <label class="btn btn-primary btn-xs" onclick="sum.PLF('chartPLFFleet', sum.dataSourceScada())">
                          <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                      </label>
                  </div>
              </span>
				</div>
				<div class="panel-body content-chart">
					<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
					<div id="chartPLFFleet"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
				<span data-bind="text: lgd.projectName() == 'Fleet' ? 'Lost Energy (GWh) - Last 12 Months' : 'Lost Energy (MWh) - Last 12 Months'"></span>
				<span class="tools pull-right">
					 <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Shows Lost Energy"></i>
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartLostEnergy').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.LostEnergy(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
				</div>
				<div class="panel-body content-chart">
					<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
					<!-- <div id="chartDTLostEnergyCustomTooltip"></div> -->
					<div id="chartLostEnergy"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-sm-4">
		<div class="col-md-3 col-sm-4 no-padding">
			<div class="pad box-pane-right bg-white col-summary">
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">No. of Sites</div>
					<h4 class="description-header first-city" data-bind="text:sum.noOfProjectsExFleet">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">No. of Turbines</div>
					<h4 class="description-header first-city" data-bind="text:sum.noOfTurbines">0</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Total Max. Capacity</div>
					<h4 class="description-header first-city" data-bind="text:sum.totalMaxCapacity">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">Currently Down</div>
					<h4 class="description-header third-city" data-bind="text:sum.currentDown">0</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Currently Not Available</div>
					<h4 class="description-header third-city" data-bind="text:sum.totalNAFleet">0</h4>
				</div>
				<div class="description-block hidden">
					<div class="sparkbar pad" data-color="#fff">Performance vs Budget</div>
					<h4 class="description-header second-city">0%</h4>
				</div>
				<div class="description-block margin-bottom hidden">
					<div class="sparkbar pad" data-color="#fff">Achievement vs Annual Budget</div>
					<h4 class="description-header second-city">0%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-8 no-padding">
			<div class="pad">
				<div id="india-map" style="height: 446.5px;"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 no-padding">
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
				<div class="panel ez no-padding hardcore prod-div">
					<div class="panel-heading">
					Controller Generation (MWh) - Last 12 Months
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartProdMonth').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.ProdMonth('chartProdMonth',sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body content-chart">
						<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
						<div id="chartProdMonth"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">
						Controller Generation (GWh) - Current Year & Last Year
						<span class="tools pull-right">
		                  <div class="btn-group" data-toggle="buttons">
		                      <label class="btn btn-primary btn-xs" onclick="$('#chartCurrLastFleet').kendoChart2Grid('n2')">
		                          <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
		                      </label>
		                      <label class="btn btn-primary btn-xs" onclick="sum.ProdCurLast('chartCurrLastFleet',sum.dataSourceScada())">
		                          <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
		                      </label>
		                  </div>
		              </span>
					</div>
					<div class="panel-body content-chart">
						<div id="chartCurrLastFleet"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
				<div class="panel ez no-padding hardcore plf-div">
					<div class="panel-heading">
					PLF (%) - Last 12 Months
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartPLF').kendoChart2Grid('n0')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.PLF('chartPLF',sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body content-chart">
						<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
						<div id="chartPLF"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" id="div-windiness">
				<div class="panel ez no-padding hardcore windiness-div">
					<div class="panel-heading">
					Windiness (m/s) - Last 12 Months
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartWindiness').kendoChart2Grid()">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.Windiness(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body content-chart">
						<div id="chartWindinessCustomTooltip"></div>
						<div id="chartWindiness"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" id="div-winddistribution">
				<div class="panel ez no-padding hardcore winddistribution-div">
					<div class="panel-heading">
					Wind Distribution - Last 12 Months
						<!--<select type="text" id="periodType" class="ddlWindDistPeriod" data-bind="kendoDropDownList: { value: sum.periodSelected, data: sum.periodList, dataTextField: 'text', dataValueField: 'value', change:sum.UpdateWindDist, suggest: true}"></select> -->
						<span class="tools pull-right">
	                      <div class="btn-group" data-toggle="buttons">
	                          <label class="btn btn-primary btn-xs" onclick="$('#chartWindDistribution').kendoChart2Grid()">
	                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
	                          </label>
	                          <label class="btn btn-primary btn-xs" onclick="sum.WindDistribution(sum.dataSourceWindDistribution())">
	                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
	                          </label>
	                      </div>
	                  	</span>
					</div>
					<div class="panel-body content-chart">
						<div id="chartWindDistributionCustomTooltip"></div>
						<div id="chartWindDistribution"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">
						Turbines currently down (Hrs)
					</div>
					<div class="panel-body content-chart" id="dtturbines" style="overflow-y: auto;"></div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 ez panel-content" data-bind="visible:lgd.projectName() == 'Fleet'">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore summary-div">
					<div class="panel-heading">
					Summary Data for Last 12 Months
					</div>
					<div class="panel-body panel-summary gridSummaryData" style="height: 185px;">
						<div id="gridSummaryDataFleet"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 ez panel-content" data-bind="visible:lgd.projectName() != 'Fleet'">
			<div class="col-md-4 col-sm-4 hardcore landing">
				<div class="panel ez no-padding hardcore prod-div">
					<div class="panel-heading">
					Controller Generation (MWh) - Current Year & Last Year
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartCurrLast').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.ProdCurLast('chartCurrLast',sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body content-chart">
						<div id="chartCurrLast"></div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 hardcore landing">
				<div class="panel ez no-padding hardcore summary-div">
					<div class="panel-heading">
					Summary Data for Last 12 Months
					</div>
					<div class="panel-body panel-summary gridSummaryData" style="height: 185px;">
						<div id="gridSummaryData"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailProd">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Production<span data-bind="text:sum.detailProdMsTxt"></span> <span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdTxt"></span></strong></div>
				<div class="panel-body">
					<div class="col-md-8">
						<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
						<div id="chartDetailProduction"></div>
						<div class="clearfix">&nbsp;</div>
						<div id="chartDetailLostEnergy"></div>
					</div>
					<div class="col-md-4">
						<div id="gridDetailProduction"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- start of drilldown level 2 for summary prod. last 12 months -->
<div data-bind="visible:sum.isMonthlyProject">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading"><span data-bind="text:sum.titleDetailLevel1()"></span></div>
				<div class="panel-body">
					<div class="monthly-project-wrapper text-center" data-bind="foreach: sum.dataDrilldown">
						<div class="monthly-project-item" data-bind="attr: {class : sum.dataDrilldown().length > 1 ? 'col-md-4' : 'col-md-9'}, style: { left:  sum.dataDrilldown().length > 1 ? '0%' : '10%' }">
							<strong><span data-bind="text: $data"></span></strong>
							<h5 class="drilldown-custom"><small><center>click on each series to view the drilldown</center></small></h5>
							<div class="monthlyProjectChart" data-bind="attr: { 'data-project': $data }"></div>							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of drilldown level 2 for summary prod. last 12 months -->

<div data-bind="visible:sum.isDetailProdByProject">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" id="btn-back-prod-summary" class="btn-back" data-bind="click:sum.toDetailProduction()"><i class="fa fa-reply" aria-hidden="true"></i> Back</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading"><span data-bind="text:sum.detailSummary().labelproject"></span>&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdDateTxt"></strong></div>
				<div class="panel-body">
					<div class="col-md-12" data-bind="visible:sum.isSummaryDetail">
						<div class="control-summary production-part left-border-org">
							<div class="col-md-12">
								<div class="col-md-4 sum-production">
		                            <label class="summary-header">Controller Generation (<span data-bind="text:sum.detailSummary().measurement"></span>)</label><br />
		                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().production , 'n2')">0</label>
	                        	</div>
	                        	<div class="col-md-8" style="width: 398px;">
									<div class="col-md-4 border-right">
			                            <label class="summary-header long-title">Longterm P50(MWh)</label><br />
			                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().budget_p50, 'n2')">0</label>
		                        	</div>
		                        	<div class="col-md-4">
			                            <label class="summary-header long-title">Longterm P75(MWh)</label><br />
			                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().budget_p75, 'n2')">0</label>
		                        	</div>
		                        	<div class="col-md-4 border-left">
			                            <label class="summary-header long-title">Longterm P90(MWh)</label><br />
			                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().budget_p90, 'n2')">0</label>
		                        	</div>
		                        </div>
                            </div>
                        </div>
                        <div class="control-summary left-border-org">
                            <label class="summary-header">Availability (%)</label><br />
                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().trueavail , 'n2')">0</label>
                        </div>
                        <div class="control-summary left-border-org">
                            <label class="summary-header">PLF (%)</label><br />
                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().plf , 'n2')">0</label>
                        </div>
                        <div class="control-summary left-border-org">
                            <label class="summary-header">Avg Wind Speed(m/s)</label><br />
                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().avgwindspeed , 'n2')">0</label>
                        </div>
                        <div class="control-summary left-border-org">
                            <label class="summary-header">Lost Energy(MWh)</label><br />
                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().lostenergy , 'n2')">0</label>
                        </div>
                        <div class="control-summary left-border-org">
                            <label class="summary-header">Downtime (Hrs)</label><br />
                            <label class="summary-number" data-bind="text:kendo.toString(sum.detailSummary().downtimehours , 'n2')">0</label>
                        </div>
					</div>
					<div class="col-md-12">
						<div id="chartDetailProdByProject"></div>
						<div class="clearfix">&nbsp;</div>
					</div>
					<div class="col-md-12" data-bind="visible:sum.isGridDetail">
						<div id="gridDetailProdByProject"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<div data-bind="visible:sum.isDetailLostEnergy()">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Lost Energy (MWh)&nbsp;&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdTxt"></span></strong></div>
				<div class="panel-body">
					<div class="col-md-12">
						<h5 class="label-drilldown"><small><center>click to view the drilldown</center></small></h5>
						<div id="chartDetailLost"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-bind="visible:sum.isDetailAvailability()">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Availability&nbsp;&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdTxt"></span></strong></div>
				<div class="panel-body" >
					<div class="availability-project-wrapper text-center" data-bind="foreach: sum.DetailAvailabilityData()">
						<div class="col-md-12 detail-availability-item">
							<div class="detailAvailability" data-bind="attr: { 'id': 'chartDetailAvail-'+project }"></div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-bind="visible:sum.isDetailLostEnergyLevel2">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToLostEnegery()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Lost Energy (MWh)&nbsp;&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdTxt"></span>&nbsp;&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp; <span data-bind="text:sum.detailProjectName()"></span></strong></div>
				<div class="panel-body">
					<div class="col-md-12">
						<div id="chartDetailLostLevel2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailLostEnergyPlot()">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Lost Energy (MWh)&nbsp;&nbsp;</div>
				<div class="panel-body" >
					<div class="lostenergy-project-wrapper text-center" data-bind="foreach: sum.dataDrilldown">
						<div class="col-md-12 detail-lostenergy-item">
							<div class="col-sm-7">
								<!-- <h5 class="drilldown-custom"><small><center>click on each series to view the drilldown</center></small></h5> -->
								<div class="detaillostenergy" data-bind="attr: { 'id': 'chartLostEnergyByMonth-'+$data}" style="margin-top: -20px;"></div>		
							</div>	
							<div class="col-sm-5">
								<div class="detaillostenergy" data-bind="attr: { 'id': 'chartLostEnergyByType-'+$data}"></div>		
							</div>				
						</div>
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailLostEnergyPlotLevel2()">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" onclick="sum.toDetailLostEnergyLvl1()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Lost Energy (MWh)&nbsp;&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdDateTxt()"></span>&nbsp;&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp; <span data-bind="text:sum.detailProdProjectTxt()"></span></strong></div>
				<div class="panel-body" >
					<div class="lostenergy-project-wrapper text-center">
						<div class="col-md-12 detail-lostenergy-item">
							<div class="detaillostenergylvl2"></div>			
						</div>
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




