<script>
    app.currentDateData = '{{.CurrentDateData}}';
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-forecast.js?ANTI_CACHE={{.AntiCache}}&v=1.0.1"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-forecast.css?v=1.0.1">

<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<div class="panel-body">
						{{template "_dateinfo.html"}}
						<div class="fc-wrapper">
							<div class="col-md-10 col-md-offset-1">
								<ul class="nav nav-tabs pull-right" role="tablist">
									<li id="gridTab" role="presentation" class="active" onclick="pg.genereateGrid(); pg.CurrentTab('grid');"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab" class="tab-custom tooltipster tooltipstered" title="Table View"><i class="fa fa-table"></i></a></li>
									<li id="chartTab" role="presentation" onclick="pg.genereateChart(); pg.CurrentTab('chart');"><a href="#chart" aria-controls="chart" role="tab" data-toggle="tab" class="tab-custom tooltipster tooltipstered" title="Graph View"><i class="fa fa-bar-chart"></i></a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="grid">
										<div class="tab-pane-content">
											<div class="fc-top-info">
												Currently no. of turbine down : <a href="javascript:void(0);"><span class="highlight" data-bind="text: pg.TurbineDown(), click: function() { if(pg.TurbineDown()>0) { return pg.showTurbineDown(); } }"></span></a>
											</div>
											<div class="clearfix">&nbsp;</div>
											<div class="btn-excel">
												<!-- <button type="button" class="btn btn-warning btn-sm tooltipster tooltipstered" title="Edit Schedule Forecast for SLDC" data-bind="click:function(){pg.editData();},visible:(pg.EditMode()=='saved')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
												<button type="button" class="btn btn-success btn-sm tooltipster tooltipstered" title="Click to Save Schedule Forecast for SLDC" data-bind="click:function(){pg.saveData();},visible:(pg.EditMode()=='edited')"><i class="fa fa-save" aria-hidden="true"></i></button> -->
												<button type="button" class="btn btn-primary btn-sm tooltipster tooltipstered Epdf" title="Export to Excel" data-bind="click:function(){pg.getPdfGrid();}"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
											</div>
											<div class="clearfix">&nbsp;</div>
											<div class="alert alert-info" role="alert">
												To edit / modify Schedule Forecast for SLDC value please click on cell it self, after all finished please click Save Changes button above. 
											</div>
											<div id="gridForecasting"></div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="chart">
										<div class="tab-pane-content">
											<div id="chartForecasting"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<div id="modalTurbineDown" class="modal fade modal-draggable" tabindex="-1" aria-hidden="true" role="dialog" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myLargeModalLabel">Turbine Down List</h5>
			</div>
			<div class="modal-body">

				<div id="grid-turbine-down"></div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger ripple text-left" data-dismiss="modal">Close</button>
			</div>

		</div>
	
	</div>
</div>

<script>
	fa.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
</script>