<script>
    app.currentDateData = '{{.CurrentDateData}}';
	var pageType = '{{.PageType}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-time-series.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-time-series.css">
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<!--<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-data-sensor-governance.css">-->
<script id="template" type="text/x-kendo-template">
  <div><b>#: kendo.toString(category, 'dd MMM yyyy HH:mm') #</b></div>
  # for (var i = 0; i < points.length; i++) {
        if(i == 0) { #
            <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2')# m/s</span></div>
  #     } else { #
            <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2')# MWh</span></div>
  #     }
    } #
</script>
<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<!--<div class="panel-heading">
						Time Series Plots&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>&nbsp;
						| &nbsp;<span id="project-info"></span>&nbsp; <span id="total-turbine-info"></span> &nbsp;<span id="total-capacity-info"></span>
						<div class="">
								<div class="date-info">
                                    Data Available from: <strong><span id="availabledatestart">-</span></strong> until: <strong><span id="availabledateend">-</span></strong>
                                </div>
						</div>
					</div>-->
					<div class="panel-body">
						<div class="date-info">
							Data Available from: <strong><span id="availabledatestart">-</span></strong> until: <strong><span id="availabledateend">-</span></strong>
						</div>
						<!-- <div class="col-md-12" data-bind="visible:pg.pageType == 'HFD'"> -->
						<div class="col-md-12">
							<div class="pull-right data-type">
								<label class="radio-inline"><input type="radio" name="datatype" value="SEC" data-bind="checked: pg.dataType()">1 Sec</label>
								<label class="radio-inline"><input type="radio" name="datatype" value="MIN" data-bind="checked: pg.dataType()">10 Minutes</label>
							</div>
						</div>
						<!-- <div class="col-md-6">
							<div id="chartWindSpeed"></div>
						</div>
						<div class="col-md-6">
							<div id="chartProduction"></div>
						</div> -->
						<div class="col-md-12">
							<div class="legend">
								<span id="legendTooltip"></span>&nbsp; &nbsp;
								<div class="popover-markup"> <a href='javascript:;' class="trigger"><i class="fa fa-pencil"></i> &nbsp;Select Tags</a>
								    <div class="content hide">
								        <div class="form-group">
								            <select id="TagList"></select>
								        </div>
								        <button type="submit" class="btn btn-xs btn-primary btn-block"><i class="fa fa-check"></i></button>
								    </div>
								</div>
							</div>
							<div id="chartTimeSeries"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
	fa.populateTurbine({{.TurbineList}});
	fa.populateProject({{.ProjectList}});
</script>