<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-databrowser.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-databrowser.css">
<div class="row">
    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12">
            <ul class="nav nav-pills nav-replace-title" role="tablist">
                <li>
                    <div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
                        <label class="control-label col-md-1 col-sm-1 lbl-period"> Period</label>&nbsp;
                        <input class="col-md-1 col-sm-1 txt-startdate" type="text" id="dateStart" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy', min: new Date(2013, 01, 01)}" />
                        <label class="control-label col-md-1 col-sm-1 lbl-to">&nbsp;&nbsp;to</label>
                        <input class="col-md-1 col-sm-1 db-end-date txt-enddate" type="text" id="dateEnd" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy', min: new Date(2013, 01, 01)}" />&nbsp;
                    </div>
                </li>

                <li>
                    <label class="control-label col-md-1 col-sm-1 label-turbine" style="width:80px;">Turbine</label>
                    <select class="col-md-1 col-sm-1 turbine-multi" id="turbineMulti" data-bind="kendoMultiSelect: { data: dbr.turbineList, dataValueField: 'value', dataTextField: 'text', filter: 'contains', suggest: true, change: function() {dbr.checkTurbine()} }" style="width:120px;">
					</select>
                </li>
                <li>
                    <button type="button" id="btnRefresh" class="btn btn-sm btn-primary" style="margin-left: 10px;"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                <div class="panel-body">
                    <ul class="nav nav-tabs " role="tablist">
                        <li id="mainTab" role="presentation" class="active"><a onclick="Data.RefreshGrid()" href="#Main" aria-controls="Main" role="tab" data-toggle="tab" class="tab-custom">Main</a></li>
                        <li id="exceptionTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#Exception" aria-controls="Exception" role="tab" data-toggle="tab" class="tab-custom">Exception</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Main">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="scadaTab" role="presentation" class="active"><a onclick="Data.RefreshGrid()" href="#scada" aria-controls="scada" role="tab" data-toggle="tab" class="tab-custom">Scada Data OEM</a></li>
                                <li id="downtimeeventTab" role="presentation" ><a onclick="Data.RefreshGrid()" href="#downtimeevent" aria-controls="scada" role="tab" data-toggle="tab" class="tab-custom">Downtime Event</a></li>
                                <li id="customTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#custom" aria-controls="custom" role="tab" data-toggle="tab" class="tab-custom">Custom 10 Minutes Data</a></li>
                                <li id="eventTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#eventraw" aria-controls="eventraw" role="tab" data-toggle="tab" class="tab-custom">Event Raw</a></li>
                                <li id="jmrTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#JMR" aria-controls="JMR" role="tab" data-toggle="tab" class="tab-custom">JMR & Breakup</a></li>
                                <li id="metTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#MET" aria-controls="JMR" role="tab" data-toggle="tab" class="tab-custom">Permanent Met Tower Data</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane " id="JMR">
                                    <div data-bind="visible:!dbr.jmrvis()">
                                        <div class="databrowser-date-info">
                                            Data Available from: <strong><span id="availabledatestartjmr">-</span></strong> until: <strong><span id="availabledateendjmr">-</span></strong>
                                        </div>
                                        <div class="control-summary left-border-org-no-float">
                                            <label class="summary-header">Total Data</label><br />
                                            <label id="totaldatajmr" class="summary-number">0</label>
                                        </div>
                                        <div class="tab-pane-content">
                                            <div id="dataGridJMR"></div>
                                        </div>
                                    </div>                                    
                                </div>

                                <div role="tabpanel" class="tab-pane" id="MET">
                                    <div data-bind="visible:!dbr.mettowervis()">
                                        <div class="tab-pane-content">
                                            <div class="databrowser-date-info">
                                                Data Available from: <strong><span id="availabledatestartmet">-</span></strong> until: <strong><span id="availabledateendmet">-</span></strong>
                                            </div>
                                            <div class="control-summary left-border-org-no-float">
                                                <label class="summary-header">Total Data</label><br />
                                                <label id="totaldatamet" class="summary-number">0</label>
                                            </div>
                                            <div class="tab-pane-content">
                                                <div id="dataGridMet" class="grid-custom-db-new"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane active" id="scada">
                                    <div data-bind="visible:!dbr.oemvis()">
                                        <div class="databrowser-date-info">
                                            Data Available from: <strong><span id="availabledatestartscadadataoem">-</span></strong> until: <strong><span id="availabledateendscadadataoem">-</span></strong>
                                        </div>
                                        <div class="control-summary left-border-org">
                                            <label class="summary-header">Total Turbine</label><br />
                                            <label id="totalturbine" class="summary-number">0</label>
                                        </div>
                                        <div class="control-summary left-border-green">
                                            <label class="summary-header">Total Data</label><br />
                                            <label id="totaldata" class="summary-number">0</label>
                                        </div>
                                        <div class="control-summary left-border-org">
                                            <label class="summary-header">Total Active Power</label><br />
                                            <label id="totalactivepower" class="summary-number">0</label>
                                        </div>
                                        <div class="control-summary left-border-green">
                                            <label class="summary-header">Total Production</label><br />
                                            <label id="totalprodoem" class="summary-number">0</label>
                                        </div>
                                        <div class="control-summary left-border-org">
                                            <label class="summary-header">Average Wind Speed</label><br />
                                            <label id="avgwindspeedoem" class="summary-number">0</label>
                                        </div>
                                        <div class="tab-pane-content">
                                            <div class="clearfix">&nbsp;</div>
                                            <div id="scadaGrid" class="grid-custom-db-new"></div>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="downtimeevent">
                                    <div data-bind="visible:!dbr.downeventvis()">
                                        <div class="databrowser-date-info">
                                            Data Available from: <strong><span id="availabledatestartDE">-</span></strong> until: <strong><span id="availabledateendDE">-</span></strong>
                                        </div>
                                        <div class="control-summary left-border-org">
                                            <label class="summary-header">Total Turbine</label><br />
                                            <label id="totalturbineDE" class="summary-number">0</label>
                                        </div>
                                        <div class="control-summary left-border-green">
                                            <label class="summary-header">Total Data</label><br />
                                            <label id="totaldataDE" class="summary-number">0</label>
                                        </div>
                                        <div class="tab-pane-content">
                                            <div class="clearfix">&nbsp;</div>
                                            <div id="DEgrid" class="grid-custom-db-new"></div>
                                        </div>
                                    </div>
                                </div>

                                 <div role="tabpanel" class="tab-pane" id="custom">
                                    <div data-bind="visible:!dbr.customvis()">
                                        <div class="tab-pane-content">
                                            <div class="databrowser-date-info">
                                                Data Available from: <strong><span id="availabledatestartCustom">-</span></strong> until: <strong><span id="availabledateendCustom">-</span></strong>
                                            </div>
                                            <div class="control-summary left-border-org">
                                                <label class="summary-header">Total Turbine</label><br />
                                                <label id="totalturbineCustom" class="summary-number">0</label>
                                            </div>
                                            <div class="control-summary left-border-green">
                                                <label class="summary-header">Total Data</label><br />
                                                <label id="totaldataCustom" class="summary-number">0</label>
                                            </div>
                                            <div class="control-summary left-border-org">
                                                <label class="summary-header">Total Active Power</label><br />
                                                <label id="totalactivepowerCustom" class="summary-number">0</label>
                                            </div>
                                            <div class="control-summary left-border-green">
                                                <label class="summary-header">Total Production</label><br />
                                                <label id="totalprodCustom" class="summary-number">0</label>
                                            </div>
                                            <div class="control-summary left-border-org">
                                                <label class="summary-header">Average Wind Speed</label><br />
                                                <label id="avgwindspeedCustom" class="summary-number">0</label>
                                            </div>
                                            <div class="clearfix">&nbsp;</div>
                                            <div id="customGrid" class="grid-custom-db-new"></div>
                                        </div>
                                    </div>
                                 </div>

                                 <div role="tabpanel" class="tab-pane" id="eventraw">
                                     <div data-bind="visible:!dbr.eventrawvis()">
                                         <div class="tab-pane-content">
                                            <div class="databrowser-date-info">
                                                Data Available from: <strong><span id="eventdatestart">-</span></strong> until: <strong><span id="eventdateend">-</span></strong>
                                            </div>
                                            <div class="control-summary left-border-org">
                                                <label class="summary-header">Total Turbine</label><br />
                                                <label id="totalturbineEvent" class="summary-number">0</label>
                                            </div>
                                            <div class="control-summary left-border-green">
                                                <label class="summary-header">Total Data</label><br />
                                                <label id="totaldataEvent" class="summary-number">0</label>
                                            </div>
                                            
                                            <div class="clearfix">&nbsp;</div>
                                            <div id="EventGrid" class="grid-custom-db-new"></div>
                                        </div>
                                     </div>
                                 </div>

                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="Exception">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="scadaExceptionTimeDurationTab" class="active" role="presentation"><a onclick="Data.RefreshGrid()" href="#ScadaExceptionTimeDuration" aria-controls="ScadaExceptionTimeDuration" role="tab" data-toggle="tab" class="tab-custom">Scada Exception Time Duration</a></li>
                                <li id="scadaAnomaliesTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#GenerationAnomalies" aria-controls="GenerationAnomalies" role="tab" data-toggle="tab" class="tab-custom">Scada Anomaly</a></li>
                                <li id="alarmOverlappingTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#AlarmOverlapping" aria-controls="AlarmOverlapping" role="tab" data-toggle="tab" class="tab-custom">Alarm Overlapping Data</a></li>
                                <li id="alarmAnomaliesTab" role="presentation"><a onclick="Data.RefreshGrid()" href="#AlarmAnomalies" aria-controls="AlarmAnomalies" role="tab" data-toggle="tab" class="tab-custom">Alarm Anomaly</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="ScadaExceptionTimeDuration">
                                    <div class="databrowser-date-info">
                                        Data Available from: <strong><span id="availabledatestartduration">-</span></strong> until: <strong><span id="availabledateendduration">-</span></strong>
                                    </div>
                                    <div class="control-summary-hs left-border-org">
                                        <label class="summary-header">Total Turbine</label><br />
                                        <label id="totalturbineExceptionTimeDuration" class="summary-number">0</label>
                                    </div>
                                    <div class="control-summary-hs left-border-green">
                                        <label class="summary-header">Total Data</label><br />
                                        <label id="totaldataExceptionTimeDuration" class="summary-number">0</label>
                                    </div>
                                    <div class="control-summary-hs left-border-org">
                                        <label class="summary-header">Total Power</label><br />
                                        <label id="totalpowerExceptionTimeDuration" class="summary-number">0.00</label>
                                    </div>
                                    <div class="control-summary-hs left-border-green">
                                        <label class="summary-header">Total Power Lost</label><br />
                                        <label id="totalpowerlostExceptionTimeDuration" class="summary-number">0.00</label>
                                    </div>
                                    <div class="control-summary-hs left-border-org">
                                        <label class="summary-header">Total Production</label><br />
                                        <label id="totprodExceptionTimeDuration" class="summary-number">0.00</label>
                                    </div>
                                    <div class="control-summary-hs left-border-green-no-float">
                                        <label class="summary-header">Average Wind Speed</label><br />
                                        <label id="avgwindspeedExceptionTimeDuration" class="summary-number">0.00</label>
                                    </div>
                                    <div class="tab-pane-content">
                                        <a href="#scadaException" data-toggle="collapse" class="pull-right label-showhide tooltipster tooltipstered" title="Click to show column list">Hide / Show Columns</a>
                                        <div id="scadaException" class="collapse content-showhide">
                                            <div data-bind="foreach: dbr.gridColumnsScadaException">
                                                <div class="col-md-2">
                                                    <div class="checkbox">
                                                        <label>
											            <input type="checkbox" data-bind="{checked: value ,attr:{id: 'chk-grid-scada-exception-'+$index()} , click: dbr.ShowHideColumnScada('dataGridExceptionTimeDuration',field, 'chk-grid-scada-exception-'+$index(),$index())}">
											            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
											            <span data-bind="text:title"></span>
											          </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div id="dataGridExceptionTimeDuration" class="grid-custom"></div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="GenerationAnomalies">
                                    <div class="databrowser-date-info">
                                        Data Available from: <strong><span id="availabledatestartscadaanomaly">-</span></strong> until: <strong><span id="availabledateendscadaanomaly">-</span></strong>
                                    </div>
                                    <div class="control-summary left-border-org">
                                        <label class="summary-header">Total Turbine</label><br />
                                        <label id="totalturbineAnomalies" class="summary-number">0</label>
                                    </div>
                                    <div class="control-summary left-border-green">
                                        <label class="summary-header">Total Data</label><br />
                                        <label id="totaldataAnomalies" class="summary-number">0</label>
                                    </div>
                                    <div class="control-summary left-border-org">
                                        <label class="summary-header">Total Power</label><br />
                                        <label id="totalpowerAnomalies" class="summary-number">0.00</label>
                                    </div>
                                    <div class="control-summary left-border-green">
                                        <label class="summary-header">Total Power Lost</label><br />
                                        <label id="totalpowerlostAnomalies" class="summary-number">0.00</label>
                                    </div>
                                    <div class="control-summary-hs left-border-green">
                                        <label class="summary-header">Total Production</label><br />
                                        <label id="totprodAnomalies" class="summary-number">0.00</label>
                                    </div>
                                    <div class="control-summary-hs left-border-org">
                                        <label class="summary-header">Average Wind Speed</label><br />
                                        <label id="avgwindspeedAnomalies" class="summary-number">0.00</label>
                                    </div>
                                    <div class="tab-pane-content">
                                        <a href="#scadaAnomaly" data-toggle="collapse" class="pull-right label-showhide tooltipster tooltipstered" title="Click to show column list">Hide / Show Columns</a>
                                        <div id="scadaAnomaly" class="collapse content-showhide">
                                            <div data-bind="foreach: dbr.gridColumnsScadaAnomaly">
                                                <div class="col-md-2">
                                                    <div class="checkbox">
                                                        <label>
											            <input type="checkbox" data-bind="{checked: value ,attr:{id: 'chk-grid-scada-anomaly-'+$index()} , click: dbr.ShowHideColumnScada('dataGridAnomalies',field, 'chk-grid-scada-anomaly-'+$index(),$index())}">
											            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
											            <span data-bind="text:title"></span>
											          </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div id="dataGridAnomalies" class="grid-custom"></div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="AlarmOverlapping">
                                    <div class="databrowser-date-info">
                                        Data Available from: <strong><span id="availabledatestartalarmoverlapping">-</span></strong> until: <strong><span id="availabledateendalarmoverlapping">-</span></strong>
                                    </div>
                                    <div class="control-summary left-border-org">
                                        <label class="summary-header">Total Turbine</label><br />
                                        <label id="totalturbinealarmo" class="summary-number">0</label>
                                    </div>
                                    <div class="control-summary left-border-green-no-float">
                                        <label class="summary-header">Total Data</label><br />
                                        <label id="totaldataalarmo" class="summary-number">0</label>
                                    </div>
                                    <div class="tab-pane-content">
                                        <div id="dataGridAlarmOverlapping" class="grid-custom"></div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="AlarmAnomalies">
                                    <div class="databrowser-date-info">
                                        Data Available from: <strong><span id="availabledatestartalarmscadaanomaly">-</span></strong> until: <strong><span id="availabledateendalarmscadaanomaly">-</span></strong>
                                    </div>
                                    <div class="control-summary left-border-org">
                                        <label class="summary-header">Total Turbine</label><br />
                                        <label id="totalturbinealarmAnomalies" class="summary-number">0</label>
                                    </div>
                                    <div class="control-summary left-border-green-no-float">
                                        <label class="summary-header">Total Data</label><br />
                                        <label id="totaldataalarmAnomalies" class="summary-number">0</label>
                                    </div>
                                    <div class="tab-pane-content">
                                        <div id="dataGridAlarmAnomalies" class="grid-custom"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalShowHide" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span>Show Hide Column</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-5">
                    <div id="columnList"></div>
                </div>
                <div class="col-md-2 div-control">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm btn-control" id="moveToRight" data-bind="click:function() {dbr.selectRow()}"><i class="fa fa-angle-double-left"></i></button>
                      <button type="button" class="btn btn-default btn-sm btn-control" id="moveToLeft" data-bind="click:function() {dbr.unselectRow()}"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div id="selectedList"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button class="btn btn-sm btn-primary" onclick="dbr.showColumn()">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<script>
    dbr.ColumnList({{.ColumnList}});
</script>