<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring.js?ANTI_CACHE={{.AntiCache}}"></script>
<style type="text/css">
    .dim{
        color: #31b445;
    }
    .red{
        color: #e91e3a;
    }
    .bold{
        text-weight:bold;
    }
    .summary{
        font-size: 16px;
    }
    .table-sum{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .table-sum, .table-sum>tbody>tr>td, .table-sum>tbody>tr>th, .table-sum>tfoot>tr>td, .table-sum>tfoot>tr>th, .table-sum>thead>tr>td, .table-sum>thead>tr>th {
        border: 0px solid #f4f4f4;
    }
    .table-sum>tbody>tr>td, .table-sum>tbody>tr>th, .table-sum>tfoot>tr>td, .table-sum>tfoot>tr>th, .table-sum>thead>tr>td, .table-sum>thead>tr>th {
        border-top: 0px solid #ffffff;
        /*border-right: 2px solid #eee;*/
        padding: 0px;
    }
    .no-border{
        border-right:0px solid #eee;
    }
    .gauge-custom{
        margin-bottom: -35px;
        margin-top: -40px;
    }
    .align-left{
        text-align: left;
        padding-left: 5px !important;
        font-size: 10px;
    }
</style>
<div>
    <div class="row">
        {{template "_filter-monitoring.html"}}
        <div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore mb-5">
                    <div class="panel-heading">           
                        <div>
                            
                                
                                <!--<select class="col-md-1 col-sm-1 project-list" id="projectList" name="table" data-bind="kendoMultiSelect: { data: fa.projectList, dataValueField: 'value', dataTextField: 'text', optionLabel: 'All Projects', suggest: true }"
                                    style="width:145px">
                                </select>&nbsp;
                                <div class="small-screen">&nbsp;</div>
                                <select class="col-md-1 col-sm-1 turbine-list" id="turbineList" name="table" data-bind="kendoMultiSelect: { data: fa.turbineList, dataValueField: 'value', dataTextField: 'text', suggest: true }"
                                    style="width:120px">
                                </select>&nbsp;
                                <div class="search-btn-line">&nbsp;</div>
				                <button type="button" id="btnRefresh" class="btn btn-sm btn-primary btn-filter-refresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>-->
                            
                        </div>             
                        <div class="pull-right maximize-btn">
                            <i class="fa fa-window-maximize tooltipster tooltipstered pull-right" aria-hidden="true" title="maximize screen" style="cursor: pointer;" id="max-screen"></i>
                            <i class="fa fa-window-restore tooltipster tooltipstered pull-right" aria-hidden="true" title="restore screen" style="cursor: pointer;" id="restore-screen"></i>
                        </div>
                    </div>
                    <div class="panel-body" style="text-align:center">                        
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <!--<form class="form-inline">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                        <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                        <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Transfer cash</button>
                                </form>-->
                                <table class="table table-condensed table-sum">
                                    <thead>
                                        <tr>
                                            <td width="20%">Turbines</td>
                                            <td width="20%">Capacity(MW)</td>
                                            <td width="20%">WS Avg.(m/s)</td>
                                            <td width="20%">Prod(MWh)</td>
                                        </tr>
                                    </thead>
                                    <tbody class="bold summary">
                                        <tr>
                                            <td>24</td>
                                            <td>40 / <span class="dim">50.4</span></td>
                                            <td>5.7 / <span class="dim">6</span></td>
                                            <td>120 / <span class="dim">150</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-condensed table-detail">
                                    <thead class="bold">
                                        <tr>
                                            <td width="10%">Tejuva</td>
                                            <td><i class="fa fa-flash tooltipster" title="Production"></i></td>
                                            <td><i class="fa fa-tachometer tooltipster" title="Wind Speed"></i></td>
                                            <td><i class="fa fa-line-chart tooltipster" title="Performance Index"></i></td>
                                            <td><i class="fa fa-gears tooltipster" title="Machine Availability(%)"></i></td>
                                            <td><i class="fa fa-th tooltipster" title="Grid Availability(%)"></i></td>
                                            <td><i class="fa fa-bell tooltipster" title="Alarm/Errors"></i></td>
                                            <td><i class="fa fa-warning tooltipster" title="Warning"></i></td>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                        <tr>
                                            <td>TJW001</td>
                                            <td>80</td>
                                            <td>10</td>
                                            <td>70</td>
                                            <td>90</td>
                                            <td>90</td>
                                            <td><i class="fa fa-circle dim"></i></td>
                                            <td><i class="fa fa-circle red"></i></td>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>