<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-analytic-meteorology.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-analytic-meteorology.css">
<script id="templateChart" type="text/x-kendo-template">
   <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important"># if ( points[i].series.name  == "PC Deviation" || points[i].series.name  == "Electrical Losses" ) {##= points[i].value # MWh#} else {# #= points[i].value # %  #}#</span></div>
  # } #
</script>

<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore mb-5">
					<!-- <div class="panel-heading">
						Meteorology&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>&nbsp;
						| &nbsp;<span id="project-info"></span>&nbsp; <span id="total-turbine-info"></span> &nbsp;<span id="total-capacity-info"></span>
					</div> -->
					<div class="panel-body">
						<div class="date-info">
                            <span id="availabledatestart"></span><span id="availabledateend"></span>
                        </div>
                        <div class="clearfix">&nbsp;</div>
						<ul class="nav nav-tabs " role="tablist">
							<li id="avgwindspeedTab" role="presentation" class="active"><a href="#avgwindspeed" aria-controls="Average Wind Speed" role="tab" data-toggle="tab" onclick="pm.AverageWindSpeed()" class="tab-custom">Average Wind Speed</a></li>
							<li id="windroseTab" role="presentation"><a href="#windrose" aria-controls="Wind Rose" role="tab" onclick="wr.WindRose()" data-toggle="tab" class="tab-custom">Wind Rose</a></li>
							<li id="windroseComparisonTab" role="presentation"><a href="#windrosecomparison" aria-controls="Wind Rose" role="tab" onclick="pm.WindRoseComparison()" data-toggle="tab" class="tab-custom">Wind Rose Comparison</a></li>
							<li id="winddistributionTab" role="presentation"><a onclick="pm.WindDis()" href="#winddistribution" aria-controls="Wind Distribution" role="tab" data-toggle="tab" class="tab-custom">Wind Distribution</a></li>
							<li id="turbulenceintencityTab" role="presentation"><a onclick="ti.RefreshData()" href="#turbulenceintencity" aria-controls="Turbulence Intensity" role="tab" data-toggle="tab" class="tab-custom">Turbulence Intensity</a></li>
							<li id="temperatureTab" role="presentation"><a href="#temperature" aria-controls="Temperature and Season Plots" role="tab" data-toggle="tab" class="tab-custom">Temperature and Season Plots</a></li>
							<li id="turbineCorrelationTab" role="presentation" onclick="pm.TurbineCorrelation()"><a href="#turbineCorrelation" aria-controls="Turbine Correlation" role="tab" data-toggle="tab" class="tab-custom">Turbine Correlation</a></li>
							<li id="table1224Tab" role="presentation"><a href="#table1224" aria-controls="1224 Table" role="tab" onclick="tb.Table()" data-toggle="tab" class="tab-custom">12/24 Table</a></li>
							<li id="mtbfTab" role="presentation"><a href="#mtbf" onclick="mt.Refreshchartmt()" aria-controls="mtbf" role="tab"  data-toggle="tab" class="tab-custom">MTBF</a></li>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="avgwindspeed">
								<!--<div class="col-md-12">
									<div class="col-md-3 col-xs-12">
										<label class="control-label keyA-label">Series Breakdown</label>
										<select id="seriesBreakdown" data-bind="kendoDropDownList: { data: aws.SeriesBreakdown, dataValueField: 'value', dataTextField: 'text', suggest: true}"
											style="width:120px;">
		                                </select>&nbsp;
									</div>
									<div class="col-md-3 col-xs-12">
										<label class="control-label keyA-label">Time Breakdown</label>
										<select id="timeBreakdown" data-bind="kendoDropDownList: { data: aws.TimeBreakdown, dataValueField: 'value', dataTextField: 'text', suggest: true}"
											style="width:120px;">
		                                </select>&nbsp;
									</div>
								</div>
								<div class="col-md-12">
									<div id="averageWindSpeedChart"></div>
								</div>-->
								<div class="col-md-12">
									<div id="gridAvgWs"></div>
									<div class="clearfix">&nbsp;</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="windrose">
								{{template "windrose.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="windrosecomparison">
								<!-- <div class="col-md-12 list">
									<div class="col-md-3 col-xs-12">
										<label class="control-label keyA-label">Sectors</label>
										<select id="nosectionComparison" name="table" data-bind="kendoDropDownList: { data: pm.sectionsBreakdownList, dataValueField: 'value', dataTextField: 'text', suggest: true, change: pm.WindRoseComparison }"
											style="width:50px;">
		                                </select>&nbsp;
										<label class="txtWarComparison" data-bind="text: '&nbsp;&nbsp;Sector width : ' + pm.sectorDerajatComparison() + ' °'">&nbsp;</label>
									</div>

									<div class="col-md-6 col-xs-12">
										<div id="legend-list-comparison" class="col-md-12 col-sm-12 pl15">
										</div>
									</div>
								</div> -->

								<div class="col-md-9 windrose-part">
									<div id="WRChartComparison" class="windrose-item-comparison"></div>
									<div class="clearfix">&nbsp;</div>
								</div>
								<div class="col-md-3 turList">
									<div class="clearfix">&nbsp;</div>
									<div class="checkbox" id="checkAllCompare"></div>
									<div class="col-md-12 col-sm-12" id="turbine-list-compare"></div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="winddistribution">
<!-- 								<div class="date-info">
                                    Data Available from: <strong><span id="availabledatestartscada2">-</span></strong> until: <strong><span id="availabledateendscada2">-</span></strong>
                                </div> -->
								<div class="col-md-9">
									<div id="windDistribution"></div>
									<div class="clearfix">&nbsp;</div>
								</div>
								<div class="col-md-3 turList">
									<!-- <div class="panel-heading custom-header">Turbine List &nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Click the button to show detail"></i></div> -->
									<div class="clearfix">&nbsp;</div>
									<div class="checkbox" id="showHideChk"></div>
									<div class="col-md-12 col-sm-12" id="right-turbine-list"></div>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane" id="turbulenceintencity">
								{{template "turbulence-intensity.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="temperature">
								
							</div>
							<div role="tabpanel" class="tab-pane" id="turbineCorrelation">
								<div id="gridTurbineCorrelation"></div>
							</div>
							<div role="tabpanel" class="tab-pane" id="table1224">


								{{template "table1224.html"}}
							</div>

							<div role="tabpanel" class="tab-pane" id="mtbf">
								{{template "mtbf.html"}}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal modal-lg fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-4 col-xs-12 legend-part">
                                	<div class="col-md-12 title-zoom-part">
	                                	<span id="titleWRZoom"></span>
	                                </div>
                                    <div id="legend-list-zoom" class="col-md-12 col-sm-12 pl15">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="windroseZoom"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<script>
	fa.populateTurbine({{.TurbineList}});
	fa.populateProject({{.ProjectList}});
</script>