<script src="{{BaseUrl}}res/core/js/page-dashboard-summary.js?ANTI_CACHE={{.AntiCache}}"></script>

<script id="templateProd" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: kendo.toString(moment(vm.dateAsOf()).utc().format('DD MMM YYYY')) # #: category #:00</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2') # kWh</span></div>
  # } #
</script>

<script id="templateCum" type="text/x-kendo-template">
  <div><b>#: kendo.toString(kendo.parseDate(category), 'dd MMM yyyy') #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1') # GWh</span></div>
  # } #
</script>
<script id="templateAvail" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1') # %</span></div>
  # } #
</script>
<script id="templateAvailPercentage" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'p1') #</span></div>
  # } #
</script>
<script id="templateProdMonth" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(kendo.format('{0:n2}',points[i].value), 2)# GWh</span></div>
  # } #
</script>
<!-- <script id="templateDTLEbyType" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { 
  		if(i==0) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# MWh</span></div>
  # 	} else if(i==1) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# hours</span></div>
  # 	} else if(i==2) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: points[i].value # times</span></div>
  # 	}
  	} #
</script> -->
<script id="templateDTLEbyType" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) {
  		# <table>#
        if(points[i].series.name == 'Frequency') { #
            <tr><td><strong>#: points[i].series.stack# </strong></td><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n0')#</td></tr>
  #     } else if (points[i].series.name == 'Duration') { #
            <tr><td><strong>#: points[i].series.stack# </strong></td><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n1')# Hours</td></tr>
  #     } else { #
            <tr><td><strong>#: points[i].series.stack# </strong></td><td>#: kendo.toString(points[i].value, 'n1')# MWh</td></tr>
  #     } 
  		# </table>#
  } #
</script>
<script id="templateDowntimeLostEnergy" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# MWh</span></div>
  # } #
</script>
<script id="templateWindiness" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# m/s</span></div>
  # } #
</script>
<script id="templateDistribution" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'p1') #</span></div>
  # } #
</script>

<div data-bind="visible:lgd.isSummary">
	<div class="col-md-8 col-sm-8">
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Latest Production (kWh)
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs prodToTable" onclick="$('#chartProduction').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.ProductionChart(sum.dataSource().Productions)">
                              <input type="radio" name="convert" id="tochart" value="tochart" autofocus="true"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
				</div>
				<div class="panel-body" style="height: 185px;">
					<div id="chartProductionCustomTooltip"></div>
					<div id="chartProduction"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Production (GWh) - Last 12 Months
					<span class="tools pull-right">
	                  <div class="btn-group" data-toggle="buttons">
	                      <label class="btn btn-primary btn-xs" onclick="$('#chartProdMonthFleet').kendoChart2Grid('n2')">
	                          <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
	                      </label>
	                      <label class="btn btn-primary btn-xs" onclick="sum.ProdMonth('chartProdMonthFleet',sum.dataSourceScada())">
	                          <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
	                      </label>
	                  </div>
	              </span>
				</div>
				<div class="panel-body" style="height: 185px;">
					<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>
					<div id="chartProdMonthFleet"></div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Availability (%) - Last 12 Months &nbsp;
					<!-- <span data-bind='visible: lgd.isFleet'>
						<select type="text" id="projectAvail" class="ddlAvailability" data-bind="kendoDropDownList: { value: lgd.projectAvailSelected, data: lgd.projectAvailList, dataTextField: 'text', dataValueField: 'value', change:sum.UpdateAvailability, suggest: true}"></select>
					</span> -->
        			<span class="tools pull-right">
						<i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-primary btn-xs" onclick="$('#chartAbility').kendoChart2Grid('n1')">
						      <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
						  </label>
						  <label class="btn btn-primary btn-xs" onclick="sum.AvailabilityChart(sum.availData(),sum.availSeries())">
						      <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
						  </label>
						</div>
                  	</span>
				</div>
				<div class="panel-body" style="height: 185px;">
					<div id="chartAbility"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Cumulative Production (GWh) - Month to Date
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartCumProduction').kendoChart2Grid('n1','dd-MMM-yyyy')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.CumProduction(sum.dataSource().CummulativeProductions)">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
				</div>
				<div class="panel-body" style="height: 185px;">
					<!--<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>-->
					<div id="chartCumProduction"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
			<div class="panel ez no-padding hardcore plf-div">
				<div class="panel-heading">
				PLF (%) for all Projects - Last 12 Months
				<span class="tools pull-right">
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary btn-xs" onclick="$('#chartPLFFleet').kendoChart2Grid('n0')">
                          <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                      </label>
                      <label class="btn btn-primary btn-xs" onclick="sum.PLF(sum.dataSourceScada())">
                          <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                      </label>
                  </div>
              </span>
				</div>
				<div class="panel-body" style="height: 185px;">
					<div id="chartPLFFleet"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
				Lost Energy (GWh) - Last 12 Months
				<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartLostEnergy').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.LostEnergy(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
				</div>
				<div class="panel-body" style="height: 185px;">
					<!-- <div id="chartDTLostEnergyCustomTooltip"></div> -->
					<div id="chartLostEnergy"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-sm-4">
		<div class="col-md-3 col-sm-4 no-padding">
			<div class="pad box-pane-right bg-white col-summary">
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">No. of Sites</div>
					<h4 class="description-header first-city" data-bind="text:sum.noOfProjectsExFleet">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">No. of Turbines</div>
					<h4 class="description-header first-city" data-bind="text:sum.noOfTurbines">0</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Total Max. Capacity</div>
					<h4 class="description-header first-city" data-bind="text:sum.totalMaxCapacity">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">Currently Down</div>
					<h4 class="description-header third-city" data-bind="text:sum.currentDown">0</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Down More Than 2 Days</div>
					<h4 class="description-header third-city" data-bind="text:sum.twoDaysDown">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">Performance vs Budget</div>
					<h4 class="description-header second-city">0%</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Achievement vs Annual Budget</div>
					<h4 class="description-header second-city">0%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-8 no-padding">
			<div class="pad">
				<div id="india-map" style="height: 446.5px;"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 no-padding">
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
				<div class="panel ez no-padding hardcore prod-div">
					<div class="panel-heading">
					Production (GWh) - Last 12 Months
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartProdMonth').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.ProdMonth(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body" style="height: 185px;">
						<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>
						<div id="chartProdMonth"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() == 'Fleet'">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">
						Production (GWh) - Current Year & Last Year
						<span class="tools pull-right">
		                  <div class="btn-group" data-toggle="buttons">
		                      <label class="btn btn-primary btn-xs" onclick="$('#chartCurrLastFleet').kendoChart2Grid('n2')">
		                          <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
		                      </label>
		                      <label class="btn btn-primary btn-xs" onclick="sum.ProdCurLast('chartCurrLastFleet',sum.dataSourceScada())">
		                          <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
		                      </label>
		                  </div>
		              </span>
					</div>
					<div class="panel-body" style="height: 185px;">
						<div id="chartCurrLastFleet"></div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 hardcore landing" data-bind="visible:lgd.projectName() != 'Fleet'">
				<div class="panel ez no-padding hardcore plf-div">
					<div class="panel-heading">
					PLF (%) for all Projects - Last 12 Months
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartPLF').kendoChart2Grid('n0')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.PLF(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body" style="height: 185px;">
						<div id="chartPLF"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" id="div-windiness">
				<div class="panel ez no-padding hardcore windiness-div">
					<div class="panel-heading">
					Windiness (m/s) - Last 12 Months
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartWindiness').kendoChart2Grid()">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.Windiness(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body" style="height: 185px;">
						<div id="chartWindinessCustomTooltip"></div>
						<div id="chartWindiness"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" id="div-winddistribution">
				<div class="panel ez no-padding hardcore winddistribution-div">
					<div class="panel-heading">
					Wind Distribution - Current Month
						<!--<select type="text" id="periodType" class="ddlWindDistPeriod" data-bind="kendoDropDownList: { value: sum.periodSelected, data: sum.periodList, dataTextField: 'text', dataValueField: 'value', change:sum.UpdateWindDist, suggest: true}"></select> -->
						<span class="tools pull-right">
	                      <div class="btn-group" data-toggle="buttons">
	                          <label class="btn btn-primary btn-xs" onclick="$('#chartWindDistribution').kendoChart2Grid()">
	                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
	                          </label>
	                          <label class="btn btn-primary btn-xs" onclick="sum.WindDistribution(sum.dataSourceWindDistribution())">
	                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
	                          </label>
	                      </div>
	                  	</span>
					</div>
					<div class="panel-body" style="height: 185px;">
						<div id="chartWindDistributionCustomTooltip"></div>
						<div id="chartWindDistribution"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 ez panel-content" data-bind="visible:lgd.projectName() == 'Fleet'">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore summary-div">
					<div class="panel-heading">
					Summary Data for Last 12 Months
					</div>
					<div class="panel-body panel-summary gridSummaryData" style="height: 185px;">
						<div id="gridSummaryDataFleet"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 ez panel-content" data-bind="visible:lgd.projectName() != 'Fleet'">
			<div class="col-md-4 col-sm-4 hardcore landing">
				<div class="panel ez no-padding hardcore prod-div">
					<div class="panel-heading">
					Production (GWh) - Current Year & Last Year
					<span class="tools pull-right">
                      <div class="btn-group" data-toggle="buttons">
                          <label class="btn btn-primary btn-xs" onclick="$('#chartCurrLast').kendoChart2Grid('n2')">
                              <input type="radio" name="convert" id="totable" value="totable" ><i class="fa fa-table"></i>
                          </label>
                          <label class="btn btn-primary btn-xs" onclick="sum.ProdCurLast(sum.dataSourceScada())">
                              <input type="radio" name="convert" id="tochart" value="tochart"><i class="fa fa-bar-chart"></i>
                          </label>
                      </div>
                  </span>
					</div>
					<div class="panel-body" style="height: 185px;">
						<div id="chartCurrLast"></div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 hardcore landing">
				<div class="panel ez no-padding hardcore summary-div">
					<div class="panel-heading">
					Summary Data for Last 12 Months
					</div>
					<div class="panel-body panel-summary gridSummaryData" style="height: 185px;">
						<div id="gridSummaryData"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailProd">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Production<span data-bind="text:sum.detailProdMsTxt"></span> <span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdTxt"></span></strong></div>
				<div class="panel-body">
					<div class="col-md-8">
						<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>
						<div id="chartDetailProduction"></div>
						<div class="clearfix">&nbsp;</div>
						<div id="chartDetailLostEnergy"></div>
					</div>
					<div class="col-md-4">
						<div id="gridDetailProduction"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailProdByProject">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.toDetailProduction()"><i class="fa fa-reply" aria-hidden="true"></i> Back</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading"><span data-bind="text:sum.detailProdProjectTxt"></span>&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdDateTxt"></strong></div>
				<div class="panel-body">
					<div class="col-md-8">
						<div id="chartDetailProdByProject"></div>
						<div class="clearfix">&nbsp;</div>
					</div>
					<div class="col-md-4">
						<div id="gridDetailProdByProject"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>