<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-analytic-key-metrics.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-analytic-key-metrics.css">
<script id="template" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) {
        if(i==1) { #
            <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2')# #: points[i].series.satuan#</span></div>
  #     } else { #
            <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2')# #: points[i].series.satuan#</span></div>
  #     }
    } #
</script>
<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">Compare Metrics&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>&nbsp;
						| &nbsp;<span id="project-info"></span>&nbsp; <span id="total-turbine-info"></span> &nbsp;<span id="total-capacity-info"></span>
					</div>
					<div class="panel-body">
						<div class="databrowser-date-info">
	                         Data Available from: <strong><span id="availabledatestartscada">-</span></strong> until: <strong><span id="availabledateendscada">-</span></strong>
	                    </div>
						<div class="col-md-9">
							<a class="tools pull-right tooltipster tooltipstered" title="Export to Pdf" data-bind="click: km.ExportKeyMetrics" style="margin-top: -45px;margin-right: 20px;cursor:pointer">
								<h3><i class="fa fa-file-pdf-o " aria-hidden="true"></i></h3>
							</a>
							<div id="km-chart"></div>
							<div class="clearfix">&nbsp;</div>
							<div class="clearfix">&nbsp;</div>
          					<div class="information-period"><span data-bind="text:fa.infoPeriodRange()"></span></div>
						</div>
						<br><br>
						{{template "_filter-right.html"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
	fa.populateTurbine({{.TurbineList}});
	fa.populateProject({{.ProjectList}});
</script>