<script>
    app.currentDateData = '{{.CurrentDateData}}';
    vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-strangethreshold.js?ANTI_CACHE={{.AntiCache}}"></script>
<style type="text/css">
    #filter-analytic{
        margin-bottom: -25px;
    }
</style>

<div class="row">
    {{template "_filter-analytic.html"}}
    <div class="col-md-12 col-sm-12 ez panel-content no-filter">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                <div class="panel-heading">
                    Threshold Master&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>
                </div>
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="clearfix">&nbsp;</div>
                        <div id="gridDataEntryThreshold"></div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    fa.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
    page.turbineList({{.TurbineList}});
</script>
<!-- End Form Modal --> 