<!-- map -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDSK-g_Zrf7RKSAguPa-nLv0DF6XPdF-Ro"></script>
<script>
    app.currentDateData = '{{.CurrentDateData}}';
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-dashboard.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-dashboard.css">

<div class="row">
	<div class="col-md-12" style="padding-left: 10px;" data-bind="visible:vm.isDashboard">
		<ul class="nav nav-pills nav-replace-title" role="tablist">
			<li>
				<div class="input-group input-group-sm ez margin-bottom-10 margin-right-5">
					<div class="width-full">
						<select type="text" id="projectId" class="dropdownFilter" data-bind="kendoDropDownList: { value: lgd.projectName, data: lgd.projectList, dataTextField: 'text', dataValueField: 'value', change:lgd.LoadData, suggest: true}" style="width: 170px"></select>
					</div>
				</div>
			</li>
			<div class="inline-tab">&nbsp;</div>
			<li role="presentation" class="active tab-summary">
				<a role="tab" data-toggle="tab" id="tabSummary">Summary</a>
			</li>
			<li role="presentation" class="tab-production">
				<a role="tab" data-toggle="tab" id="tabProduction">Production</a>
			</li>
			<li role="presentation" class="tab-downtime">
				<a role="tab" data-toggle="tab" id="tabAvailability">Availability</a>
			</li>
		</ul>
	</div>

	{{template "page-dashboard-summary.html"}} {{template "page-dashboard-production.html"}} {{template "page-dashboard-availability.html"}}
</div>
<script>
	lgd.populateProject({{.ProjectList}});
</script>