<script>
    app.currentDateData = '{{.CurrentDateData}}';
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-loss-analysis.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-loss-analysis.css">
<script id="templateChart" type="text/x-kendo-template">
   <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important"># if ( points[i].series.name  == "PC Deviation" || points[i].series.name  == "Electrical Losses" ) {##= points[i].value # MWh#} else {# #= points[i].value # %  #}#</span></div>
  # } #
</script>

<script id="template" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { 
        if(i==5) { #
            <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2')# MWh</span></div>
  #     } else { #
            <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2')# %</span></div>
  #     }
    } #
</script>

<script id="templateDTLE" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { 
        if(points[i].series.name == 'Frequency') { #
            <tr><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n0')# Times</td></tr></table>
  #     } else if (points[i].series.name == 'Duration') { #
            <tr><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n2')# Hours</td></tr>
  #     } else { #
            <table><tr><td>#: points[i].series.name# </td><td>:</td><td> #: kendo.toString(points[i].value, 'n2')# MWh</td></tr>
  #     }
    } #
</script>

<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<!-- <div class="panel-heading">
						Losses and Efficiency&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>&nbsp;
						| &nbsp;<span id="project-info"></span>&nbsp; <span id="total-turbine-info"></span> &nbsp;<span id="total-capacity-info"></span>
						<div class="pull-right">
								
						</div>
					</div> -->
					<div class="panel-body">
						<div class="date-info">
                            Data Available from: <strong><span id="availabledatestart">-</span></strong> until: <strong><span id="availabledateend">-</span></strong>
                        </div>
                        <div class="clearfix">&nbsp;</div>
						<ul class="nav nav-tabs " role="tablist">
							<li id="staticViewTab" role="presentation" class="active"><a onclick="sv.StaticView()" href="#staticView" aria-controls="StaticView" role="tab" data-toggle="tab" class="tab-custom">Static View</a></li>

							<li id="Top10DowntimeTab" role="presentation"><a onclick="dt.Downtime()" href="#top10downtime" aria-controls="Top 10 Downtime" role="tab" data-toggle="tab" class="tab-custom">Downtime</a></li>
<!-- 
							<li id="analysisTab" role="presentation"><a onclick="pg.refreshGrid();" href="#analysis" aria-controls="Analysis" role="tab" data-toggle="tab" class="tab-custom">Analysis</a></li>
 -->
							<li id="availabilityTab" role="presentation"><a onclick="av.Availability()" href="#availability" aria-controls="Availability" role="tab" data-toggle="tab" class="tab-custom">Availability</a></li>

							<li id="lostenergyTab" role="presentation"><a onclick="le.LossEnergy()" href="#lostenergy" aria-controls="LostEnergy" role="tab" data-toggle="tab" class="tab-custom">Lost Energy</a></li>

							<li id="reliabilitykpiTab" role="presentation"><a onclick="pg.Reliability()" href="#reliabilitykpi" aria-controls="ReliabilityKPI" role="tab" data-toggle="tab" class="tab-custom">Reliability KPI's</a></li>

							<li id="windspeedavailTab" role="presentation"><a onclick="wa.WindSpeed()" href="#windspeedavail" aria-controls="WindSpeedAvail" role="tab" data-toggle="tab" class="tab-custom">Wind Speed vs Availability</a></li>
							
							<li id="warningTab" role="presentation"><a onclick="wf.Warning()" href="#warning" aria-controls="Warning" role="tab" data-toggle="tab" class="tab-custom">Warning Frequency</a></li>

							<li id="CompAlarmTab" role="presentation"><a onclick="ca.Component()" href="#CompAlarm" aria-controls="ComponentAlarmType" role="tab" data-toggle="tab" class="tab-custom">Component / Alarm Type</a></li> <!-- onclick="pg.refreshGrid('CompAlarm');"  -->
							<!-- <li id="eventAnalysisTab" role="presentation"><a onclick="ea.RefreshData()" href="#eventanalysis" aria-controls="EventAnalysis" role="tab" data-toggle="tab" class="tab-custom">Event Analysis</a></li> -->
							<li id="mtbfTab" role="presentation"><a href="#mtbf" onclick="mt.RefreshData()" aria-controls="mtbf" role="tab"  data-toggle="tab" class="tab-custom">MTBF</a></li>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="staticView">
								{{template "static-view.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="top10downtime">
                                {{template "downtime-top10.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="availability">
								{{template "availability.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="lostenergy">
								{{template "lost-energy.html"}}
							</div>

							<div role="tabpanel" class="tab-pane" id="reliabilitykpi">
								<div id="reliabilitykpi" class="grid-custom"></div>
							</div>

							<div role="tabpanel" class="tab-pane" id="windspeedavail">
								{{template "windspeed-availability.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="warning">
								{{template "warning-frequency.html"}}
							</div>
							<!-- Component Alarm Tab -->
							<div role="tabpanel" class="tab-pane" id="CompAlarm">
								{{template "component-alarm.html"}}
							</div>
							<div role="tabpanel" class="tab-pane" id="mtbf">
								{{template "mtbf.html"}}
							</div>
 
							<div role="tabpanel" class="tab-pane" id="analysis">
								<div class="col-md-12 pull-right">
									<span class="pull-right">
                                        <span style="font-size:12px;"><b>Breakdown By &nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Show Chart based on the keys"></i></b></span>&nbsp;
									<select class="form-control input-sm" id="breakdownlist"></select>
									</span>
								</div>
								<div class="col-md-12">
									<div id="lossChart"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
	fa.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
</script>