<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-data-sensor-governance.js?ANTI_CACHE={{.AntiCache}}"></script>
<!--<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-data-sensor-governance.css">-->
<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<!--<div class="panel-heading">
						Data and Sensor Governance&nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>&nbsp;
						| &nbsp;<span id="project-info"></span>&nbsp; <span id="total-turbine-info"></span> &nbsp;<span id="total-capacity-info"></span>
					</div>-->					
					<div class="panel-body">
						<div class="date-info">
							Data Available from: <strong><span id="availabledatestartscada">-</span></strong> until: <strong><span id="availabledateendscada">-</span></strong>
						</div>
						<div class="clearfix">&nbsp;</div>
						<ul class="nav nav-tabs " role="tablist">
							<li id="degradationTab" role="presentation" class="active"><a onclick="" href="#degradation" aria-controls="Degradation" role="tab" data-toggle="tab" class="tab-custom">Sensor Degradation Analysis</a></li>
                            <li id="sensibilityTab" role="presentation"><a onclick="" href="#sensibility" aria-controls="Sensibility" role="tab" data-toggle="tab" class="tab-custom">Data Sensibility</a></li>                            
                            <li id="loadanalysisTab" role="presentation"><a onclick="" href="#loadanalysis" aria-controls="LoadAnalysis" role="tab" data-toggle="tab" class="tab-custom">Load Analysis</a></li>
						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="degradation"></div>
							<div role="tabpanel" class="tab-pane" id="sensibility"></div>                            
                            <div role="tabpanel" class="tab-pane" id="loadanalysis"></div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="information-period"><span data-bind="text:fa.infoPeriodRange()"></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
    $(document).ready(function () {
        app.loading(false);
    });
</script>