<script>
    app.currentDateData = '{{.CurrentDateData}}';
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-analytic-power-curve.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-analytic-power-curve.css">

<div>
	<div class="row" data-bind="visible:page.isMain">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore" id="content-power-curve">
					<div class="panel-heading">
					</div>
					<div class="panel-body">
						{{template "_dateinfo.html"}}
						<div class="date-info">
                            <div class="nav-power-curve">
								<div class="btn-group" data-toggle="buttons" style="z-index: 10;">
									<label class="btn btn-sm btn-primary active radio-filter">
                                        <input type="radio" name="isAvg" id="sitespesific" autocomplete="off" value="Spesific"> Site Specific
                                    </label>
									<label class="btn btn-sm btn-primary active radio-filter hidden">
                                        <input type="radio" name="isAvg" id="avg" autocomplete="off" value="true" checked> Not Corrected
                                    </label>
									<label class="btn btn-sm btn-primary radio-filter hidden">
                                        <input type="radio" name="isAvg" id="adj" autocomplete="off" value="false"> Adj Wind Speed
                                    </label>
									<label class="btn btn-sm btn-primary radio-filter hidden">
                                        <input type="radio" name="isAvg" id="density" autocomplete="off" value="false" onclick="return false;"> Density Corrected
                                    </label>
									<label class="btn btn-sm btn-primary radio-filter">
                                        <input type="radio" name="isAvg" id="standardpc" autocomplete="off" value="true"> Standard Power Curve
                                    </label>
								</div>
							</div>
                        </div>
                        <div class="col-md-12">
							<div class="col-md-9" style="margin-top: -30px;">
								<div class="filters">
									<div class="tools btn-group pull-right btn-pdf">
										<button type="button" class="btn btn-primary btn-xs tooltipster tooltipstered Epdf" title="Export to Pdf" data-bind="click: page.ExportPowerCurvePdf">
									    	<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
									  	</button>
									</div>
									<div class="tools btn-group pull-right hidden">
									  <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    <i class="fa fa-search"></i> &nbsp;Filter &nbsp;<span class="caret"></span>
									  </button>
									</div>
								</div>
								<div class="power-curve-chart">
									<div id="airdensity_info">
										<span data-bind="text: 'Site AD = ' + (page.isSpecific()?page.ss_airdensity():page.std_airdensity())"></span>
									</div>
									<div id="powerCurve"></div>
								</div>
								<div class="clearfix">&nbsp;</div>
								<div class="col-md-12 selected-filter">
									<div class="text-center">
										<span>Selected Filter : <strong><span id="selectedFilter"></span></strong></span>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<ul class="list-inline" id="filter-power-curve">
									  	<li class="keep-open hidden">
									    	<div class="checkbox">
												<label>
						                            <input type="checkbox" id="isSpecific" value="Specific" name="filter">
						                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						                            <span ><b class="colBlack">Site Specific PC</b></span>
						                        </label>
											</div>
									    </li>
									  	<li class="keep-open" id="pc-filter-density">
									    	<div class="checkbox">
												<label>
						                            <input type="checkbox" id="isDensity" value="Density" name="filter">
						                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						                            <span ><b class="colBlack">Show Density Corrected</b></span>
						                        </label>
											</div>
									    </li>
									    <li class="keep-open">
									    	<div class="checkbox">
												<label>
						                            <input type="checkbox" id="isClean" value="Valid" name="filter" checked>
						                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						                            <span ><b class="colBlack">Valid</b></span>
						                        </label>
											</div>
									    </li>
									    <li class="keep-open">
											<div class="form-inline form-group">
												<div>
													<div class="checkbox">
														<label>
						                                    <input type="checkbox" id="isDeviation" name="filter" value="Deviation" checked="true">
						                                    <span class="cr deviation-cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						                                    <span ><b class="colBlack">For Deviation
						                                    <select id="deviationOpr" class="form-control input-xs sel-deviation" data-bind="options:page.deviationOpts,optionsText:'text',optionsValue:'value',value:page.deviationOpr"></select>
						                                    </b></span>
						                                </label>
													</div>
													<label>
						                                <input type="text" name="txtDeviation" id="deviationValue" class="form-control input-xs txt-deviation" onchange="Data.InitLinePowerCurve()" data-bind="value:page.deviationVal, text:page.deviationVal">
						                                &nbsp;<span><b class="colBlack">%</b></span>
						                            </label>
												</div>
											</div>
									    </li>
									    <!-- <li role="separator" class="divider"></li> -->
									    <li class="keep-open">
									    	<div class="checkbox">
												<label>
						                            <input type="checkbox" id="sScater" name="filter" value="Scatter" >
						                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						                            <span class="colRed"><b class="colBlack">Show Scatter</b> *) max 3 turbines can selected</span>
						                        </label>
											</div>
									    </li>
									    <li class="keep-open" id="pc-filter-downtime">
									    	<div class="checkbox">
												<label>
						                            <input type="checkbox" id="showDownTime" name="filter" value="Downtime">
						                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
						                            <span class="colRed"><b class="colBlack">Show Downtime</b></span>
						                        </label>
											</div>
									    </li>
									  </ul>
								</div>
								<div class="cFilter text-center">
									<div class="checkbox" id="showHideDownChk"></div>
									<div class="col-md-12 col-sm-12" id="downtime-list"></div>
									<div class="clearfix">&nbsp;</div>
								</div>
								<div class="clearfix">&nbsp;</div>
							</div>
							<div class="col-md-3 cList">
								<div class="checkbox" id="showHideChk"></div>
								<div class="clearfix">&nbsp;</div>
								<div class="col-md-12 col-sm-12 turList" id="right-turbine-list"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" data-bind="visible:page.isDetail">
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12">
				<div class="nav nav-pills nav-replace-title">
					<button class="btn btn-primary btn-sm back-btn" data-bind="click:page.backToMain()" type="button"><i class="fa fa-reply" aria-hidden="true"></i> Back </button>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">Detail Power Curve <span class="fa fa-angle-double-right"></span> Turbine <strong><span data-bind="text:page.detailTitle"></span></strong>						(For period from <span data-bind="text:page.detailStartDate"></span> to <span data-bind="text:page.detailEndDate"></span>)
						<a class="tools pull-right tooltipster tooltipstered detPc" title="Export to Pdf" data-bind="click: page.ExportPowerCurveDetailPdf">
							<h3><i class="fa fa-file-pdf-o " aria-hidden="true"></i></h3>
						</a>
					</div>
					<div class="panel-body">
						<div id="powerCurveDetail" class="powerDet"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
	page.projectList({{.ProjectList}});
	fa.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
</script>