<script src="{{BaseUrl}}res/core/js/page-starter.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-starter.css">

<div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<div class="panel-body">
						<div class="col-md-12 text-center content-link">
							<div class="col-md-3">
								<button class="btn btn-orange">
									<i class="fa fa-line-chart"></i><br>
									<span class="title-link">Management Dashboard</span>	
								</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-green">
									<i class="fa fa-desktop"></i><br>
									<span class="title-link">Online Monitoring</span>
								</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-blue">
									<i class="fa fa-list-alt"></i><br>
									<span class="title-link">DGR Reporting</span>
								</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-yellow">
									<i class="fa fa-bar-chart"></i><br>
									<span class="title-link">Analytics Dashboard</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>