<script src="{{BaseUrl}}res/core/js/page-dashboard-summary.js?ANTI_CACHE={{.AntiCache}}"></script>

<script id="templateProd" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: kendo.toString(kendo.parseDate(vm.dateAsOf()), 'dd MMM yyyy') # #: category #:00</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n2') # kWh</span></div>
  # } #
</script>

<script id="templateCum" type="text/x-kendo-template">
  <div><b>#: kendo.toString(kendo.parseDate(category), 'dd MMM yyyy') #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1') # GWh</span></div>
  # } #
</script>
<script id="templateAvail" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1') # %</span></div>
  # } #
</script>
<script id="templateAvailPercentage" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'p1') #</span></div>
  # } #
</script>
<script id="templateProdMonth" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(kendo.format('{0:n2}',points[i].value), 2)# GWh</span></div>
  # } #
</script>
<script id="templateDTLEbyType" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { 
  		if(i==0) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# MWh</span></div>
  # 	} else if(i==1) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# hours</span></div>
  # 	} else if(i==2) { #
    		<div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: points[i].value # times</span></div>
  # 	}
  	} #
</script>
<script id="templateDowntimeLostEnergy" type="text/x-kendo-template">
  <div><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# MWh</span></div>
  # } #
</script>
<script id="templateWindiness" type="text/x-kendo-template">
  <div style="text-align:center"><b>#: category #</b></div>
  # for (var i = 0; i < points.length; i++) { #
    <div style="text-align:left">#: points[i].series.name# : <span style="float:right!important">#: kendo.toString(points[i].value, 'n1')# m/s</span></div>
  # } #
</script>

<div data-bind="visible:lgd.isSummary">
	<div class="col-md-8 col-sm-8">
		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Production (kWh) - Last 24 Hours</div>
				<div class="panel-body">
					<div id="chartProductionCustomTooltip"></div>
					<div id="chartProduction"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
					Availability (%) - Last 12 Months
					<span class="tools pull-right">
            <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Information"></i>
        </span>
				</div>
				<div class="panel-body">
					<div id="chartAbility"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Cumulative Production (GWh) - Month to Date</div>
				<div class="panel-body">
					<!--<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>-->
					<div id="chartCumProduction"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Lost Energy (GWh) - Last 12 Months</div>
				<div class="panel-body">
					<!-- <div id="chartDTLostEnergyCustomTooltip"></div> -->
					<div id="chartLostEnergy"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4 col-sm-4">
		<div class="col-md-3 col-sm-4 no-padding">
			<div class="pad box-pane-right bg-white col-summary">
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">No. of Sites</div>
					<h4 class="description-header first-city" data-bind="text:sum.noOfProjects">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">No. of Turbines</div>
					<h4 class="description-header first-city" data-bind="text:sum.noOfTurbines">0</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Total Max. Capacity</div>
					<h4 class="description-header first-city" data-bind="text:sum.totalMaxCapacity">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">Currently Down</div>
					<h4 class="description-header third-city" data-bind="text:sum.currentDown">0</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Down More Than 2 Days</div>
					<h4 class="description-header third-city" data-bind="text:sum.twoDaysDown">0</h4>
				</div>
				<div class="description-block">
					<div class="sparkbar pad" data-color="#fff">Performance vs Budget</div>
					<h4 class="description-header second-city">0%</h4>
				</div>
				<div class="description-block margin-bottom">
					<div class="sparkbar pad" data-color="#fff">Achievement vs Annual Budget</div>
					<h4 class="description-header second-city">0%</h4>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-8 no-padding">
			<div class="pad">
				<div id="india-map" style="height: 446.5px;"></div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 no-padding">
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-4 col-sm-4 hardcore landing">
				<div class="panel ez no-padding hardcore prod-div">
					<div class="panel-heading">Production (GWh) - Last 12 Months</div>
					<div class="panel-body">
						<h5 class="label-drilldown"><small><center>click on each series to view the drilldown</center></small></h5>
						<div id="chartProdMonth"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing">
				<div class="panel ez no-padding hardcore plf-div">
					<div class="panel-heading">PLF (%) Comparison for all Projects - Last 12 Months</div>
					<div class="panel-body">
						<div id="chartPLF"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 hardcore landing" id="div-windiness">
				<div class="panel ez no-padding hardcore windiness-div">
					<div class="panel-heading">Windiness (m/s) - Last 12 Months</div>
					<div class="panel-body">
						<div id="chartWindinessCustomTooltip"></div>
						<div id="chartWindiness"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-4 col-sm-4 hardcore landing">
				<div class="panel ez no-padding hardcore prod-div">
					<div class="panel-heading">Production (GWh) - Current Year & Last Year</div>
					<div class="panel-body">
						<div id="chartCurrLast"></div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 hardcore landing">
				<div class="panel ez no-padding hardcore summary-div">
					<div class="panel-heading">Summary Data for Last 12 Months</div>
					<div class="panel-body panel-summary gridSummaryData" style="height: 180px">
						<div id="gridSummaryData"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailProd">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.backToDashboard()"><i class="fa fa-reply" aria-hidden="true"></i> Back </a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content" id="divChartDetail">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">Detail Production<span data-bind="text:sum.detailProdMsTxt"></span> <span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdTxt"></span></strong></div>
				<div class="panel-body">
					<div class="col-md-8">
						<div id="chartDetailProduction"></div>
						<div class="clearfix">&nbsp;</div>
					</div>
					<div class="col-md-4">
						<div id="gridDetailProduction"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-bind="visible:sum.isDetailProdByProject">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12">
			<ul class="nav nav-pills nav-replace-title" role="tablist">
				<li role="presentation" class="active">
					<a role="tab" data-toggle="tab" class="btn-back" data-bind="click:sum.toDetailProduction()"><i class="fa fa-reply" aria-hidden="true"></i> Back</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading"><span data-bind="text:sum.detailProdProjectTxt"></span>&nbsp;<span class="fa fa-angle-double-right"></span>&nbsp;<strong><span data-bind="text:sum.detailProdDateTxt"></strong></div>
				<div class="panel-body">
					<div class="col-md-8">
						<div id="chartDetailProdByProject"></div>
						<div class="clearfix">&nbsp;</div>
					</div>
					<div class="col-md-4">
						<div id="gridDetailProdByProject"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>