.additional-part {
	padding-right: 0px;
	padding-left: 0px;
}

#editor {
	border-color: #F0F3F4;
}

.panel {
	margin-bottom: 10px;
}
.modal-header {
	padding: 5px;
}
.modal-body {
	padding-bottom: 0px;
}
.modal-footer {
	padding: 5px;
}
#chk-enable {
	margin: 10px;
}