.panel-filter {
	margin-top:15px;
}

.panel-content {
	margin-top:15px;
}

.modal-dialog {
	width: 700px;
}

.tab-content {
	height: 180px;
	overflow: auto;
}

input[type=checkbox], input[type=radio] {
	margin: 8px;
}

.additional-part {
	padding-right: 0px;
	padding-left: 0px;
}

#editor {
	border-color: #F0F3F4;
}

.panel {
	margin-bottom: 10px;
}
.modal-body {
	padding-bottom: 0px;
}