.nav.nav-tabs {
    border-bottom: 1px solid #3d8dbd;
}
.nav.nav-tabs li.active a {
    border: 1px solid #3d8dbd;
    border-bottom: 1px solid transparent;
    background: #3d8dbd;
    color: #fff;
}
.nav.nav-tabs li a:hover {
    border: 1px solid #3d8dbd;
    border-bottom: 1px solid transparent;
    background: #3d8dbd;
    color: #fff;
}
.nav.nav-tabs li {
     margin-right: 0px; 
}

.fc-wrapper {
    position: relative;
    margin-top: -30px;
}
.fc-wrapper .nav.nav-tabs {
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 1000;
}
.fc-wrapper .k-chart {
    margin-top: -5px;
}
.fc-wrapper .k-content {
    background:none;
}
.fc-wrapper .btn-excel{
    position: absolute;
    top: 10px;
    right: 90px;
}