.selected-filter{
    margin-bottom: 10px;
    margin-top: -15px;
    padding-left: 50px;
    z-index: 10;
}
.date-info{
    margin-top: -10px;
}
.turbine-btn{
    margin-bottom: 5px;
    margin-right: 5px;
    height: 20px !important;
    padding: 0;
    margin-left: -1px;
    border-radius: 0px;
}
.turbine-chk, .down-chk{
	width: 20px;
    height: 20px;
    padding-left: 4px;
    color: #fff;
    padding-top: 1px!important;
    border-radius: 0px;
}
.turbine-chk:hover, .down-chk:hover{
    color: #fff;
}
.turbine-chk:active, .down-chk:active{
    color: #fff;
}
.custom-header{
	margin-top: -35px;
	padding-left: 2px;
}

#showHideChk, #isCleanDiv, #isShowDownTime{
	margin-top: -5px;
	margin-left: -18px;
}
#showHideChk {
    margin-top: 7.5px;
}
.radio-filter {
	width: 125px !important;
	margin-bottom: 2px !important;
}

.Epdf{
    cursor: pointer;
    margin-left: 10px !important;
    font-weight: bold;
}
.turList{
    max-height:360px;
    height: 360px;
    margin-top: -12.5px;
    overflow-x: auto;
    overflow-y: auto;
}
.cFilter{
    margin-left: 65px;
}
.detPc{
    margin-top: -10px;
    margin-right: 20px;
    cursor:pointer
}
.powerDet{
    height:500px;
}
.colRed{
    color: red;
}
.colBlack{
    color: black;
}

.nav-power-curve{
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
    margin-top: -15px;
    margin-left: -260px;
}
.btn-pdf{
    margin-right: 10px;
}
.cList{
    margin-top: -35px;
}
.filters{
    position: relative;
    z-index: 11;
}
.txt-deviation{
    height: 25px;
    max-width: 50px;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}
.deviation-div{
    margin-top: 0px;
    margin-bottom: 5px;
}
.isDeviationDiv{
    margin-left: 2px;
    margin-top: -5px;
}
.deviation-cr{
    margin-top: 3px;
}
.power-curve-chart{
    margin-bottom: 15px;
}


@media(max-width: 340px){
    .cFilter {
        min-height: 200px;
        padding-top: 50px;
    }
}

@media(max-width: 480px){
    .power-curve-chart{
        max-width: 450px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .power-curve-chart>#powerCurve{
        width: 550px !important;
    }
}

@media(max-width: 991px){
    .turList{
        max-height:100px!important;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .fa-file-pdf-o{
        font-size: 16px;
    }
    .Epdf {
        margin-right: 10px;
    }
}

@media(max-width: 1249px){
    .turList{
        max-height:250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .cFilter {
        min-height: 200px;
        padding-top: 50px;
    }
}

.margin-70{
    margin-bottom: -70px;
}

.wbtn
{
    font-size: 10px;
    width: 55px;
    font-weight: 600;
}
#filter-power-curve{
    width: 275px;
}
.form-inline.form-group{
    margin-left: 20px;
}


/*SCROLLBAR*/
#right-turbine-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#right-turbine-list::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

#right-turbine-list::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}
#content-power-curve{
    height: 475px;
}