.border-right{
	 border-right: 1px solid #eee;
}

.text-month{
	 text-align: center;
}

.label {
  min-width: 16.4% !important;
  display: inline-block !important;
  font-size: 100% !important;
}

table .collapse.in {
	display:table-row;
}

.details{
	background: #f9f9f9;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
    line-height: 1;
    vertical-align: middle;
    border-top: 1px solid #eee;
}

.progress-bar {
    height: 100%;
}

.clickable{
	cursor: pointer;
}
.progress {
    height: 15px;
}
#header-fixed { 
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
    margin-right: 10px;
    width: 96%;
}