.panel-filter {
	margin-top:15px;
}

.panel-content {
	margin-top:15px;
}

.modal-dialog {
	width: 700px;
}

.ddl-access {
	width: 100%;
}

input[type=checkbox], input[type=radio] {
	margin: 8px;
}