.panel-filter {
	margin-top:15px;
}

.panel-content {
	margin-top:15px;
}

.modal-dialog {
	width: 700px;
}

.tab-content {
	height: 180px;
	overflow: auto;
}

input[type=checkbox], input[type=radio] {
	margin: 8px;
}

.editor-part {
	margin-top: 15px;
}

.next-field {
	margin-top: 3px;
}