<script>
    // app.currentDateData = '{{.CurrentDateData}}';
    // vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/all-project.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/monitoring.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">

<div class="row">
    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                <div class="panel-body">
                    <div class="col-md-12">
                        <table class="table table-striped table-condensed table-bordered table-project-summary">
                            <thead>
                                <tr>
                                    <th rowspan="2" colspan="2" width="8%" class="text-center">Project</th>
                                    <th rowspan="2" width="8%" class="text-center"><span>Power / Capacity (Mw)</span></th>
                                    <th rowspan="2" width="8%" class="text-center"><span>Avg. Wind Speed (m/s)</span></th>
                                    <th rowspan="2" width="3%" class="text-center"><span>PLF (%)</span></th>
                                    <th colspan="4" width="24%" class="text-center"><span>Generation (Mwh)</span></th>
                                    <th width="16%" colspan="4" class="text-center"><span>Turbine Status</span></th>
                                    <th rowspan="2" width="8%" class="text-center"><span>Last Updated</span></th>
                                </tr>
                                <tr>
                                    <th width="6%" class="text-center">Gen. Today</th>
                                    <th width="6%" class="text-center">Lost Today</th>
                                    <th width="6%" class="text-center">Gen. Yesterday</th>
                                    <th width="6%" class="text-center">Lost Yesterday</th>
                                    <th width="2%" class="text-center"><i class="fa fa-circle fa-green" data-toggle="tooltip" data-placement="top" title="Available"></i></th>
                                    <th width="2%" class="text-center"><i class="fa fa-circle fa-mustard" data-toggle="tooltip" data-placement="top" title="Waiting For Wind"></i></th>
                                    <th width="2%" class="text-center"><i class="fa fa-circle fa-red" data-toggle="tooltip" data-placement="top" title="Turbine Down"></i></th>
                                    <th width="2%" class="text-center"><i class="fa fa-circle fa-grey" data-toggle="tooltip" data-placement="top" title="Not Available"></i></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:page.DataDetails">
                                <tr>
                                    <td width="3.7%"><strong><span data-bind="text: Project"></span></strong>
                                    <span class="pull-right networkConnection tooltipster tooltipstered txt-blink txt-warning" title="Internet Connection Not Available" data-toggle="tooltip" data-bind="attr: { 'id': 'networkConnection-' + Project }, visible: (OpcCheckerAvailable && !OpcOnline)"><i class="fa fa-warning"></i></span>
                                    </td>
<!--                                     <td width="6" class="text-center"><span data-bind="text:kendo.toString((PowerGeneration/1000) , 'n2'), attr: { id: 'PowerGeneration_'+ Project }"></span> / <span data-bind="text:kendo.toString(Capacity , 'n2'), attr: { id: 'Capacity_'+ Project }"></span></td> -->
                                    <td width="6%">
                                         <img src="{{BaseUrl}}res/img/triangle.png" class="serverlate" data-bind="visible: isbordered == true"/>
                                        <div class="link-detail server-late" data-bind="click:function(){page.ToByProject(Project)}" data-toggle="tooltip" data-placement="top" title="Click to Monitoring By Project" >
                                            <span class="progress-custom-blind" data-bind="attr: { id: 'statusprojectdefault_'+ Project}">
                                                <span data-bind="attr: { id: 'statusproject_'+ Project}"></span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-center"><span data-bind="text:kendo.toString((PowerGeneration/1000) , 'n2'), attr: { id: 'PowerGeneration_'+ Project }"></span> / <span data-bind="text:kendo.toString(Capacity , 'n2'), attr: { id: 'Capacity_'+ Project }"></span></td>
                                    <td class="text-center" data-bind="attr: { 'id': 'detail-' + Project }">
                                        <!-- <i class="fa fa-location-arrow rotation"></i> &nbsp; -->
                                        <span data-bind="text:kendo.toString(AvgWindSpeed , 'n2'), attr: { id: 'AvgWindSpeed_'+ Project }"></span>
                                    </td>
                                    <td class="text-center"><span data-bind="text:kendo.toString(PLF , 'n2'), attr: { id: 'PLF_'+ Project }"></span></td>
                                    <td class="text-center"><span data-bind="text:kendo.toString(TodayGen , 'n2'), attr: { id: 'TodayGen_'+ Project }">-</span></td>
                                    <td class="text-center"><span data-bind="text:kendo.toString(TodayLost , 'n2'), attr: { id: 'TodayLost_'+ Project }">-</span></td>
                                    <td class="text-center"><span data-bind="text:kendo.toString(PrevDayGen , 'n2'), attr: { id: 'PrevDayGen_'+ Project }">-</span></td>
                                    <td class="text-center"><span data-bind="text:kendo.toString(PrevDayLost , 'n2'), attr: { id: 'PrevDayLost_'+ Project }">-</span></td>
                                    <td class="text-center"><span data-bind="text:TurbineActive, attr: { id: 'TurbineActive_'+ Project }" class="fa-green"></span></td>
                                    <td class="text-center"><span data-bind="text:WaitingForWind, attr: { id: 'WaitingForWind_'+ Project }" class="text-right fa-mustard"></span></td>
                                    <td class="text-center"><span data-bind="text:TurbineDown, attr: { id: 'TurbineDown_'+ Project }" class="text-right fa-red"></span></td>
                                     <td class="text-center"><span data-bind="text:TurbineNotAvail, attr: { id: 'TurbineNotAvail_'+ Project }" class="text-right fa-grey"></span></td>
                                    <td class="text-center"><span data-bind="text: LastUpdated == '0001-01-01 00:00:00' ? '-' : moment.utc(LastUpdated).format('DD MMM YYYY HH:mm:ss')"></span></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 notes">
                        <b>Notes :</b> &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle fa-green"></i>&nbsp;&nbsp;Generating&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle fa-red"></i>&nbsp;&nbsp;Turbine Down&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle fa-mustard"></i>&nbsp;&nbsp;Waiting for Wind&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle fa-grey"></i>&nbsp;&nbsp;Data N/A&nbsp;&nbsp;&nbsp;
                        <i class="icon-triangle"></i><span class="delay-lbl">&nbsp;&nbsp;Data Delay&nbsp;&nbsp;&nbsp;</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
