<script>
    // app.currentDateData = '{{.CurrentDateData}}';
    // vm.menu({{.Menus}});

    // var projectList = {{.ProjectList}};
    // var turbineList = {{.TurbineList}};
</script>
<script src="{{BaseUrl}}res/jquery.rotate/jQueryRotate.js?ANTI_CACHE={{.AntiCache}}"></script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/custom.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/custom.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">

<style type="text/css">
    .span-saved-views {
        font-size:12px;
    }

    .dropable{
        border: 0px solid #eee;
        min-height: 250px;
        width: 100%;
        font-size: 4em; 
        text-align: center; 
        color: #eee;
        border-collapse: collapse;
    }
    
    .cusmon-wrapper {}
    .cusmon-projects {
    }
    .cusmon-project-item {
        /*border: 1px solid #a0a0a0;*/
        margin-bottom: 20px;
    }
    .cusmon-project-row {
        background: #f7f7f7;
    }
    .cusmon-project-row.w-forecast div {
        height: 56px;
    }
    .cusmon-project-row div {
        padding: 6px 4px 8px 4px;
        background: #f7f7f7;
        border: 1px solid #FFFFFF;
    }
    .cusmon-project-row .temp-forecast { font-size: 12px; right: 5px; top: 3px; }
    .cusmon-project-row .img-temp-forecast { left: 0px; bottom: 0px; }
    .cusmon-project-row .wd-forecast { font-size: 10px; margin-top: -2px; }
    .cusmon-project-row .img-wd-forecast { left: 4px; bottom: 8px; }
    .cusmon-project-row .ws-forecast { font-size: 12px; font-weight: 500; right: 6px; top: 3px; }
    .cusmon-turbines {
        position: relative;
        margin-left: 0px;
    }
    .cusmon-title {
        margin: 0 1px;
        padding: 5px;
        background: #ECF0F5;
        color: #000;
        font-size: 12px;
        cursor: move;
        border-bottom: 0px solid #A9BBC0;
    }
    .cusmon-title.no-move { cursor: inherit; }
    .cusmon-turbines .cusmon-name {
        color: #000;
        font-size: 1.5vmin;
        position: absolute;
        top: 3px;
        left: 12.5%;
    }
    .cusmon-turbines .col-xs-2, .cusmon-turbines .col-xs-4 {
        margin: 0;
        background: #F0F3F4;
        border: 2px solid #fff;/*#7F7F7F;*/
        display: table-cell;
    }
    .cusmon-turbines .cusmon-feed {
        background: #ECF0F5;
        color: #1A1C6F;
        font-weight: 500;
        min-height: 24px;
    }
    .cusmon-turbines .cusmon-feed .cusmon-name { left: 25%; color: #1A1C6F; width: 75%; right: 0; left: 0; margin: auto; }
    .cusmon-turbines .progress {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0;
    }
    .cusmon-turbines .progress .progress-bar { 
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .cusmon-turbines .progress .progress-bar.active {
        background: #31B445;
    }
    .cusmon-turbines .progress .progress-bar.down {
        background: #DB1E1E;
    }
    .cusmon-turbines .progress .progress-bar.waitingwind {
        background: #FF8700;
    }
    .cusmon-turbines .progress .progress-bar.datadelay {
        border: 1px solid #31B445;
    }
    .cusmon-turbines .progress .progress-bar.curtailment {
        background: #00FF04;
    }

    .pos-relative {
        position: relative;
    }
    .pos-absolute {
        position: absolute;
    }
    .modal {
      text-align: center;
      padding: 0!important;
      background: transparent;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }

    .modal-dialog {
      width: 30% !important;
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
    .modal-backdrop
    {
        opacity:0.5 !important;
    }
</style>

<script type="text/html" id="turbine-template">
    <div data-bind="css: { 'no-padding': true, 'cusmon-feed': (!t.IsTurbine), 'col-xs-4': (!t.IsTurbine), 'col-xs-2': t.IsTurbine }">
        <a href="#" class="cusmon-name" data-bind="click: bpc.OpenTurbineCollaboration(t)"><span data-bind="text: t.Name"></span></a>
        <div class="progress" data-bind="visible: t.IsTurbine, attr: { 'data-id': t.Id }">
          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</script>

{{template "turbine-collaboration.html"}}

<div class="row">
    <div class="col-md-12 col-sm-12 ez panel-content" id="panel-content-comparison">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                
                <!-- temporary hide it, no t.necIsTurbinessary -->
                <div class="panel-heading hidden">
                    <div class="pull-right div-saved-views">
                        <span class="span-saved-views"><b>Saved Views <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Saved views by the user, maximum 3 views for each user"></i></b></span>&nbsp;
                        <select class="form-control input-sm" id="savedViews"></select>
                        <button type="button" class="btn btn-sm btn-primary btn-filter-refresh" id="btnSaveView">Save</button>
                    </div>
                    <br class="clear" />
                </div>

                <div class="panel-body cusmon-wrapper">

                    <div class="cusmon-projects" data-bind="foreach: bpc.projectList">
                        <div class="col-md-2 col-xs-6">
                            <div class="cusmon-project-item" data-bind="attr: { 'id': 'cusmon-project-' + ProjectId }">
                                <h4 class="cusmon-title no-move"><span data-bind="text: Name"></span><span class="temp-forecast pull-right">0</span></h4>
                                
                                <div class="cusmon-project-row">
                                    <div class="col-md-6 col-xs-4 text-left">Active Power <small>(Mw)</small></div>
                                    <div class="col-md-6 col-xs-8 text-right">
                                        <span class="power" data-bind="attr: { 'data-id': ProjectId }">0</span>
                                        /
                                        <span class="maxcap" data-bind="text: parseFloat(TotalMaxCapacity).toFixed(1)">0</span>
                                    </div>
                                </div>
                                <br class="clear" />
                                <div class="cusmon-project-row">
                                    <div class="col-md-6 col-xs-4 text-left">Wind Speed <small>(m/s)</small></div>
                                    <div class="col-md-6 col-xs-8 text-right">
                                        <span class="ws" data-bind="attr: { 'data-id': ProjectId }">0</span>
                                    </div>
                                </div>
                                <br class="clear" />
                                <div class="cusmon-project-row w-forecast">
                                    <div class="col-md-6 col-xs-6 text-center pos-relative">
                                        <img src="{{BaseUrl}}res/img/compass.png" class="img-wd-forecast pos-absolute" width="40px" />
                                        <span class="wd-forecast hidden">0</span>
                                        <span class="ws-forecast pos-absolute">0</span>
                                    </div>
                                    <div class="col-md-6 col-xs-6 text-center pos-relative">
                                        <span>Turbines Status</span><br>
                                        <strong>
                                            <span class="t-up fa-green" data-bind="attr: { 'data-id': ProjectId }">0</span> / 
                                            <span class="t-down fa-red" data-bind="attr: { 'data-id': ProjectId }">0</span> /
                                            <span class="t-wait fa-mustard" data-bind="attr: { 'data-id': ProjectId }">0</span> / 
                                            <span class="t-na fa-grey" data-bind="attr: { 'data-id': ProjectId }">0</span>
                                        </strong>
                                    </div>
                                </div>
                                <br class="clear" />
                            </div>    
                        </div>
                    </div>
                    <br class="clear" />

                    <div id="sortable" data-bind="foreach: bpc.projectList">

                        <div class="ui-state-default col-md-3 col-xs-6">
                            <div class="dropable"> 
                                <h4 class="cusmon-title" data-bind="text: Name"></h4>     
                                <div class="cusmon-turbines" data-bind="template: { name: 'turbine-template', foreach: _.filter(bpc.feederList(), function(o){ return (o.Project==ProjectId); }), as: 't' }"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if(turbineList.length > 0) {
        var newFeeds = [];
        var feeds = [];
        var currFeed = '';

        // getting unique feeder by project
        $.each(_.sortBy(turbineList, function(o){ return o.ProjectId + ':' + o.Feeder; }), function(idx, t){
            if(currFeed!=t.Feeder) {
                feeds.push(t);
                currFeed = t.Feeder;
            }
        });

        // adding feeder as turbine for viewing purpose
        $.each(feeds, function(idx, dt){
            newFeeds.push({
                Project: dt.Project,
                Id: dt.Feeder,
                Name: dt.Feeder,
                Feeder: "NONE",
                Capacity: dt.Capacity,
                IsTurbine: false,
                Status : dt.DefaultColorStatus
            });
            var turbineByFeed = _.filter(turbineList, function(o){
                return (o.Feeder==dt.Feeder);
            });
            if(turbineByFeed.length > 0) {
                $.each(turbineByFeed, function(idx, dt){
                    newFeeds.push({
                        Project: dt.Project,
                        Id: dt.Value,
                        Name: dt.Turbine,
                        Feeder: dt.Feeder,
                        Capacity: dt.Capacity,
                        IsTurbine: true,
                        Status : dt.DefaultColorStatus
                    });
                });
            }
        });
    }
    //console.log(newFeeds);

    // set all references data
    bpc.projectList(projectList);
    bpc.turbineList(turbineList);
    bpc.feederList(newFeeds);

    //console.log(_.filter(bpc.feederList(), function(o){ return (o.Project=='Amba'); }));
</script>