<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/individual-turbine.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/monitoring.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">
<div class="row">
    <div class="row">
        <div class="col-md-12 col-sm-12 ez panel-content">
            <div class="nav nav-pills nav-replace-title" style="padding-left: 5px;">
                <div class="col-md-12 col-sm-12 filter-content">
                    <label class="col-md-1 col-sm-1 control-label label-filter">Project</label>
                    <select class="col-md-1 col-sm-1 project-list" id="projectList" name="table" data-bind="kendoDropDownList: { data: it.projectList, dataValueField: 'value', dataTextField: 'text', suggest: true }"
                    style="width:145px"></select>&nbsp;
                    <label class="col-md-1 col-sm-1 control-label label-filter">Turbine</label>
                    <select class="col-md-1 col-sm-1 project-list" id="turbine" name="table" data-bind="kendoDropDownList: { data: it.turbineList, dataValueField: 'Id', dataTextField: 'Id', suggest: true, change: it.ChangeSelection() }"
                    style="width:145px"></select>&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore mb-5">
                <div class="panel-body">                        
                    <div class="row">
                        <div class="col-md-12 project-info margin-left-10">
                            Lat : <span id="turbine_lat"></span> &nbsp;&nbsp;|&nbsp;&nbsp; Lon : <span id="turbine_lon"></span> &nbsp;&nbsp;|&nbsp;&nbsp; Location : <span id="turbine_location"><b>Jaisalmer</b></span> &nbsp;&nbsp;|&nbsp;&nbsp; Temperature : <b><span id="turbine_temperature"></span> &deg; C</b> &nbsp;&nbsp;|&nbsp;&nbsp; <img id="turbine_img_weather" src="http://openweathermap.org/img/w/02d.png" />
                            <b><span id="turbine_weather"></span></b>
                            <div class="source-info pull-right project-info-last-update">
                                Last Update&nbsp;:&nbsp;&nbsp;&nbsp;<span id="turbine_last_update"></span>
                            </div> 
                        </div>
                    </div>
                    <div class="row project-icon">
                        <div class="col-md-2">
                            <span>Power Generation (kW)</span>
                            <h4><span id="turbine_generation">-</span></h4>
                        </div>
                        <div class="col-md-2">
                            <span>Production (kWh)</span>
                            <h4><span id="turbine_production">-</span></h4>
                        </div>
                        <div class="col-md-1">
                            <span>PLF (%)</span>
                            <h4><span id="turbine_plf">-</span></h4>
                        </div>
                        <div class="col-md-2">
                            <span>Avg. Wind Speed (m/s)</span>
                            <h4><span id="turbine_wind_speed">-</span></h4>
                        </div>
                        <div class="col-md-2">
                            <span>Nacelle Position</span>
                            <h4><span id="turbine_nacelle_position">-</span></h4>
                        </div>
                        <div class="col-md-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    it.populateProject({{.ProjectList}});
</script>