<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/monitoring-alarm.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/monitoring.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">
<div class="row">
    <div class="row">
        <div class="col-md-12 col-sm-12 ez panel-content">
            <div class="nav nav-pills nav-replace-title" style="padding-left: 5px;">
                <div class="col-md-12 col-sm-12 filter-content">
                    <label class="col-md-1 col-sm-1 control-label label-filter">Project</label>
                    <select class="col-md-1 col-sm-1 project-list" id="projectList" name="table" data-bind="kendoDropDownList: { data: ma.projectList, dataValueField: 'value', dataTextField: 'text', suggest: true }"
                    style="width:145px"></select>&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore mb-5">
                <div class="panel-body">                        
                    <div class="row project-icon">
                        <div class="col-md-2">
                            <span>Duration (Hours)</span>
                            <h4><span id="alarm_duration">-</span></h4>
                        </div>
                        <div class="col-md-2">
                            <span>Frequency</span>
                            <h4><span id="alarm_frequency">-</span></h4>
                        </div>
                        <div class="col-md-5">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 margin-left-10 margin-right-10">
                            <div id="alarmGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    ma.populateProject({{.ProjectList}});
</script>