<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/monitoring-alarm.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/monitoring.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">

<div class="row">
    {{template "_filter-analytic.html"}}

    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="control-summary left-border-org">
                            <label class="summary-header">Duration (Hours)</label><br />
                            <label id="alarm_duration" class="summary-number">0</label>
                        </div>
                        <div class="control-summary left-border-green">
                            <label class="summary-header">Frequency</label><br />
                            <label id="alarm_frequency" class="summary-number">0</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="alarmGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fa.populateProject({{.ProjectList}});
    fa.populateTurbine({{.TurbineList}});
</script>