<script>
    app.currentDateData = '{{.CurrentDateData}}';
    vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/notification.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/monitoring.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">

<div class="row">
    {{template "_filter-analytic.html"}}

    <div class="col-md-12 col-sm-12 ez panel-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                <div class="panel-body">
                    <div class="date-info" style="margin-left: 5px;">
                        Data Available from: <strong><span id="availabledatestart">-</span></strong> until: <strong><span id="availabledateend">-</span></strong>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <span><b class="colBlack">Select Tag</b></span>&nbsp;&nbsp;
                        <select class="typeList" id="typeList" name="table" data-bind="kendoDropDownList: { data: mn.typeList, dataValueField: 'colname', dataTextField: 'text',  suggest: true }" style="width: 195px"></select>
                        <div class="pull-right">
                            <div class="etoExcel">
                                 <button type="button" class="btn btn-sm btn-primary tooltipster tooltipstered" aria-hidden="true" title="Export to Excel"><i class="fa fa-file-excel-o" onclick="mn.exportToExcel()"></i></button>   
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
                        <div id="notificationGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    fa.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
    mn.typeListData({{.AlarmTagList}});
</script>