<script>
    app.currentDateData = '{{.CurrentDateData}}';
    vm.menu({{.Menus}});

    var projectList = {{.ProjectList}};
    var turbineList = {{.TurbineList}};
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/summary.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="row">
	<div class="col-md-12" style="padding-left: 10px;">
		<ul class="nav nav-pills nav-replace-title" role="tablist">
			<div class="inline-tab">&nbsp;</div>
			<li role="presentation" class="active tab-summary" onclick="summary.LoadOverAll()">
				<a role="tab" data-toggle="tab" href="#Overall">Overall</a>
			</li>
			<li role="presentation" class="tab-production">
				<a role="tab" data-toggle="tab" href="#AllFarms" onclick="summary.LoadAllFarms()">All Farms</a>
			</li>
			<div class="clearfix"></div>
			<div class="tab-content">
			 	<div role="tabpanel" class="tab-pane active" id="Overall">
					{{template "all-project.html"}}
			 	</div>
			 	<div role="tabpanel" class="tab-pane" id="AllFarms">
			 		{{template "custom.html"}}
			 	</div>
			</div>
		</ul>
	</div>
</div>