<script>
    app.currentDateData = '{{.CurrentDateData}}';
    vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-monitoring/temperature.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-monitoring/monitoring.css">
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-filter-analytic.css">
<style type="text/css">
	.feeder-column{
		margin-bottom: -5px;
    	padding-right: 20px;
	}
	.table.table-monitoring {
	     width: 100%; 
	}
	.txt-yellow {
	    color: #e2c000;
	}

	.blinkYellow {
	 	background-color : rgba(255, 216, 0, 0.7)

	}
	.feeder-content {
	    display: inline;
	}

	.fixed{
		position: fixed;
	}
</style>
<div class="row">
	<div class="row">
        <div class="col-md-12 col-sm-12 ez panel-content">
            <div class="nav nav-pills nav-replace-title">
                <div class="col-md-12 col-sm-12">
                    <label class="col-md-1 col-sm-1 control-label label-filter">Project</label>
                    <select class="col-md-1 col-sm-1 project-list" id="projectList" name="table" data-bind="kendoDropDownList: { data: mt.projectList, dataValueField: 'value', dataTextField: 'text', suggest: true}"
                    style="width:170px"></select>&nbsp;
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-12 col-sm-12 ez panel-content" id="monitoring-content">
        <div class="col-md-12 col-sm-12 hardcore landing">
            <div class="panel ez no-padding hardcore">
                <div class="panel-body">
                	<div class="col-md-12">
                        <b>Notes :</b> &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle fa-green"></i>&nbsp;&nbsp; < 10 %&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle txt-yellow"></i>&nbsp;&nbsp;10 - 15 %&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-circle fa-red"></i>&nbsp;&nbsp;> 15%&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12">
	                    <div class="feeder-content">
	                        <div class="feeder-column">
	                            <div class="clearfix">&nbsp;</div>
	                            <table class="table table-striped table-monitoring table-bordered" data-bind="foreach:mt.Details()" width="100%">
	                                <thead data-bind="visible: $index() == 0" id='table-header'>
	                                    <tr data-bind="foreach:mt.Columns()">
	                                        <th><span data-bind="text:title, attr:{title: desc}" data-toggle="tooltip"></span></th>
	                                    </tr>
	                                </thead>
	                                <tbody data-bind="foreach: turbines" class="tableDetails">
	                                    <tr data-bind="visible: $index() == 0">
	                                       <td data-bind="attr:{colspan: mt.Columns().length}"><strong><span data-bind="text:$parent.title"></span></strong></td>
	                                    </tr>
	                                    <tr data-bind="foreach:mt.Columns()">
	                                       <td class="text-center" data-bind="attr:{id: title !== 'Turbine' ?  $parent['Turbine'] + mt.remove(title) : $parent['Turbine']}, css: {blinkYellow : $parent[title+'_Change'] > 0}">
	                                            <span data-bind="valueUpdate: 'blur',text: title !== 'Turbine' ? kendo.toString($parent[title],'n2') : $parent[title], attr:{ class: title !== 'Turbine' ?  $parent[title+'_Color'] : 'txt-black',title: title !== 'Turbine' ? $parent[title+'_Date'] : ''}" data-toggle="tooltip"></span>
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    mt.populateProject({{.ProjectList}});
</script>