<script src="{{BaseUrl}}res/core/js/page-monitoring/turbine-collaboration.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="modal fade modal-fade-in-scale-up" id="mdlTbColab" aria-hidden="true" aria-labelledby="modalTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Note for Turbine: <span data-bind="text: TbCol.TurbineName()"></span> &nbsp; <i class="fa fa-circle fa-green"></i></h4>
            </div>
            <div class="modal-body">
                <div class="form-input row" id="form-turbine-collaboration">
                    <input type="hidden" id="id" name="id" data-bind="value: TbCol.CurrentData().Id" />
                    <input type="hidden" id="turbineid" name="turbineid" data-bind="value: TbCol.TurbineId()" />
                    <input type="hidden" id="project" name="project" data-bind="value: TbCol.Project()" />
                    <input type="hidden" id="feeder" name="feeder" data-bind="value: TbCol.Feeder()" />
                    <div class="form-group col-mud-12">
                        <label class="control-label col-md-3">Turbine</label>
                        <div class="control-input col-md-3">
                            <input type="text" name="turbinename" id="turbinename" readonly="readonly" class="input-sm form-control" placeholder="Type turbine name" data-bind="value: TbCol.TurbineName" required data-required-msg="Turbine required!" />
                            <span class="k-invalid-msg" data-for="turbinename"></span>
                        </div>
                        <div class="control-input col-md-3">
                            <input type="text" name="feeder" id="feeder" readonly="readonly" class="input-sm form-control" placeholder="Type feeder name" data-bind="value: TbCol.Feeder" required data-required-msg="Feeder required!" />
                            <span class="k-invalid-msg" data-for="feeder"></span>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Date</label>
                        <div class="control-input col-md-3">
                            <input class="col-md-1 col-sm-1 filter-date-start" type="text" id="date" data-bind="kendoDatePicker:{value:TbCol.CurrentData().Date,format:'dd-MMM-yyyy', min: new Date(2013, 01, 01),max:new Date()}" />
                        </div>
                    </div>
<!--                     <div class="form-group col-md-12">
                        <label class="control-label col-md-4">Status</label>
                        <div class="control-input col-md-6">
                            <input type="text" name="status" id="status" class="input-sm form-control" placeholder="Type status" data-bind="value: TbCol.CurrentData().Status" required data-required-msg="Status required!" />
                            <span class="k-invalid-msg" data-for="status"></span>
                        </div>
                    </div> -->
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3">Remark</label>
                        <div class="control-input col-md-6">
                            <textarea class="input-sm form-control" id="remark" name="remark" data-bind="value: TbCol.CurrentData().Remark" rows="3" placeholder="Type remark"></textarea>
                            <span class="k-invalid-msg" data-for="remark"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default margin-0" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="TbCol.Save()">Save</button>
            </div>
        </div>
    </div>
</div>
