<script src="{{BaseUrl}}res/core/js/page-power-curve-analysis/scatter-with-filter.js?ANTI_CACHE={{.AntiCache}}&v=1.0.0"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-power-curve-analysis/scatter.css?ANTI_CACHE={{.AntiCache}}&v=1.0.0">

<div class="sc-wrapper">
    <div class="row">
		<div class="col-md-9 scatter">
			<div class="col-md-12">
				<div class="tools pull-right btn-pdf">
					<button type="button" class="btn btn-primary btn-xs tooltipster tooltipstered ExportTo" title="Export to Excel" data-bind="click:function(){sf.PowerCurveExporttoExcel('Scatter', false, false)}">
				    	<i class="fa fa-file-excel-o" aria-hidden="true"></i>
				  	</button>
					<button type="button" class="btn btn-primary btn-xs tooltipster tooltipstered ExportTo" title="Export to Pdf" data-bind="click:function(){sf.getPDF('#sf-pdf')}">
				    	<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
				  	</button>
				</div>
			</div>
			<div class="col-md-12" style="margin-top: 10px;">
				<div class="scatter-div" id="sf-pdf">
					<div class="panel-heading template-pdf" style="margin-top: -10px">
						<img src="{{BaseUrl}}res/img/ostro-logo.png" class="navbar-brand"/>&nbsp;<h4 style="margin-top: 0px;">Energy</h4>
						<div class="col-md-12 text-center title-pdf">
							<span data-bind="text:sf.project()"></span> | Power Curve Scatter With Filter |<span data-bind="text:sf.dateStart()"></span> until <span data-bind="text:sf.dateEnd()"></span>
							
						</div>
					</div>
					<div id="sf-chart"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="scatter-chart">
				<div class="scatter-comparison">
					<span><label class="label-scatter col-md-5">Turbine</label></span>
					<select class="scatter-type" id="sf-turbine" name="table" data-bind="kendoDropDownList: { data: sf.turbineList, value :sf.turbine, suggest: true , change: function(){ sf.refreshChart()} }">   </select><br/><br/>
					<span><label class="label-scatter col-md-5">Scatter Comparison</label></span>
					<select class="scatter-type" id="sf-scatter-type" name="table" data-bind="kendoDropDownList: { data: sf.scatterList, dataValueField: 'value', dataTextField: 'text', suggest: true, change: function(){sf.refreshChart()} }">
	                </select>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="form-inline scatter-div">
					<div class="form-group">
							<span><strong><</strong></span>
                            <input type="text" name="less" id="txtLessVal" class="form-control input-xs inputScatter" data-bind="value:sf.lessValue" onchange="sf.LoadData()">
                             <input data-bind="kendoColorPicker: { palette: 'websafe', value: sf.lessSelectedColour, change: function(){ sf.changeView('<')}}" id="lessColor"/>
                            <select class="scatter-type" id="lessMarker" name="table" data-bind="kendoDropDownList: { data: sf.markerStyleList, dataValueField: 'value', dataTextField: 'text', suggest: true, value:sf.lessSelectedMarker(), change: function(){ sf.changeView('<')}}">
			                </select>
					</div>
				</div>
				<div class="form-inline scatter-div">
					<div class="form-group">
							<span><strong>></strong></span>
                            <input type="text" name="less" id="txtGreaterVal" class="form-control input-xs inputScatter" data-bind="value:sf.greaterValue" onchange="sf.LoadData()">
                            <input data-bind="kendoColorPicker: { palette: 'websafe', value: sf.greaterSelectedColour, change: function(){ sf.changeView('>')} }" id="greaterColor" />
                             <select class="scatter-type" id="greaterMarker" name="table" data-bind="kendoDropDownList: { data: sf.markerStyleList, dataValueField: 'value', dataTextField: 'text', suggest: true, value:sf.greaterSelectedMarker, change: function(){ sf.changeView('>')}}"></select>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>