<script>
    app.currentDateData = '{{.CurrentDateData}}';
</script>
<script src="{{BaseUrl}}res/core/js/page-trend-line-plots/trendlineplots.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/trend-line-plots/trendlineplots.css">

<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">								
								<div class="date-info">
			                        Data Available from: <strong><span id="availabledatestarttlp">-</span></strong> until: <strong><span id="availabledateendtlp">-</span></strong>
			                    </div>
							</div>
							<div class="col-md-6">
								<label>
									<span><b class="colBlack">Component Temp</b></span>
									<select class="compTemp" id="compTemp" name="table" data-bind="kendoDropDownList: { data: tlp.compTemp, dataValueField: 'value', dataTextField: 'text', value:tlp.compTempVal, suggest: true }">
				               		</select>
				               		<span><b class="colBlack">Temp Compare to Average ± </b></span>
				               		<input type="text" name="txtcompTemp" id="txtcompTemp" class="form-control input-xs tempBox" disabled data-bind="value:tlp.compTempVal">
				               		<span><b class="colBlack"> degree </b></span>

								</label>
							</div>
						</div>
                        
						<div class="clearfix">&nbsp;</div>

						<div  class="row ">
							<div class="col-md-9 ">
								<div id="charttlp"></div>
							</div>
							<div class="col-md-3 turList">
								<div class="panel-heading">Turbine List &nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Click the button to show detail"></i></div>
								<div class="clearfix">&nbsp;</div>
								<div class="checkbox custom-header" id="showHideChk"></div>
								<div class="col-md-12 col-sm-12 " id="right-turbine-list"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
	fa.populateTurbine({{.TurbineList}});
	fa.populateProject({{.ProjectList}});
</script>