<script>
    app.currentDateData = '{{.CurrentDateData}}';
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-analytic-power-curve/comparison.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-analytic-power-curve/comparison.css">


<div class="row mt15">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="col-md-12 col-sm-12 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
				</div>
				<div class="panel-body">
					<div class="date-info">
                       Data Available from: <strong><span id="availabledatestartscada">-</span></strong> until: <strong><span id="availabledateendscada">-</span></strong>
					</div>
                    <div class="clearfix">&nbsp;</div>

					<div class="col-md-8">
						<div id="chartPCcomparison"></div>
					</div>

				<!--</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 hardcore landing">
			<div class="panel ez no-padding hardcore">
				<div class="panel-heading">
				</div>
				<div class="panel-body">-->

					
					<div class="col-md-4" >
						<div class="row mgb10 hide">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding">Filter</label>
							</div>
							<div class="col-md-10 no-padding">
								<h5><b>  </b> </h5>
							</div>
						</div>
						<div class="row mgb10">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding">Project</label>
							</div>
							<div class="col-md-10 no-padding">
								<select class="project-list" id="projectList1" name="table" data-bind="kendoDropDownList: { data: pc.projectList, dataValueField: 'value', dataTextField: 'text',  suggest: true }">
			                	</select>
							</div>
						</div>

						<div class="row mgb10">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding" >Turbine 1</label>
							</div>
							<div class="col-md-10 no-padding">
								<select class="turbine-list" id="turbineList1" name="table" data-bind="kendoDropDownList: { data: pc.turbineList, dataValueField: 'value', dataTextField: 'label', suggest: true }">
				                </select>
							</div>
						</div>
						<div class="row mgb10">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding">Period</label>
							</div>
							<div class="col-md-10 no-padding">
								<select class="period-list" id="periodList" name="table" data-bind="kendoDropDownList: { data: pc.periodList, dataValueField: 'value', dataTextField: 'text', suggest: true, change: function() {pc.showHidePeriod()} }">
			               		</select>

			               		<span class="show_hide custom-period">
			                    <input class="filter-date-start" type="text" id="dateStart" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy', min: new Date(2013, 01, 01),max:new Date()}" style="width:100px" />
			                    <label class="control-label no-padding" style="width:40px;">&nbsp;&nbsp;to</label>
			                    <div class="period-nwline">&nbsp;</div>
			                    <input class=" filter-date-end" type="text" id="dateEnd" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy',min: new Date(2013, 01, 01),max:new Date()}" style="width:100px" />&nbsp;
			                    &nbsp;
			                	</span>

							</div>
						</div>

						<div class="row mgb10">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding"> </label>
							</div>
							<div class="col-md-10 no-padding">
								<h5><b> VS </b></h5>
							</div>
						</div>
					<!-- 	<div class="row mgb10">
							<div class="col-md-3">
								<label class="control-label label-filter">Project</label>
							</div>
							<div class="col-md-9">
								<select class="project-list" id="projectList2" name="table" data-bind="kendoDropDownList: { data: pc.projectList, dataValueField: 'value', dataTextField: 'text', optionLabel: 'All Projects', suggest: true }">
				                </select>
							</div>
						</div> -->
						<div class="row mgb10">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding">Turbine 2</label>
							</div>
							<div class="col-md-10 no-padding">
								<select class=" turbine-list" id="turbineList2" name="table" data-bind="kendoDropDownList: { data: pc.turbineList, dataValueField: 'value', dataTextField: 'label',  suggest: true }">
				                </select>
							</div>
						</div>
						<div class="row mgb10">
							<div class="col-md-2 no-padding">
								<label class="control-label no-padding">Period</label>
							</div>
							<div class="col-md-10 no-padding">
								<select class="period-list" id="periodList2" name="table" data-bind="kendoDropDownList: { data: pc.periodList, dataValueField: 'value', dataTextField: 'text', suggest: true, change: function() {pc.showHidePeriod2()} }">
			               		</select>

			               		<span class="show_hide2 custom-period">
			                    <input class="filter-date-start" type="text" id="dateStart2" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy', min: new Date(2013, 01, 01),max:new Date()}" style="width:100px" />
			                    <label class="control-label no-padding" style="width:40px;">&nbsp;&nbsp;to</label>
			                    <div class="period-nwline">&nbsp;</div>
			                    <input class=" filter-date-end" type="text" id="dateEnd2" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy',min: new Date(2013, 01, 01),max:new Date()}" style="width:100px" />&nbsp;
			                    &nbsp;
			                	</span>

							</div>
						</div>
						<br>

							<div class="col-md-12 no-padding">
								<button type="button" id="btnRefresh" class="btn btn-sm btn-primary btn-filter-refresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
							</div>




				</div>
			</div>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<script>
	pc.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
</script>
