<script>
    app.currentDateData = '{{.CurrentDateData}}';
	vm.menu({{.Menus}});
</script>
<script src="{{BaseUrl}}res/core/js/page-analytic-power-curve/individual-month.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-analytic-power-curve/scatter.css">
<div>
	<div class="row">
		{{template "_filter-analytic.html"}}
		<div class="col-md-12 col-sm-12 ez panel-content">
			<div class="col-md-12 col-sm-12 hardcore landing">
				<div class="panel ez no-padding hardcore">
					<div class="panel-heading">
						<span class="tools pull-right">
							<i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Power curves shown till last month for valid data only"></i>
	                  	</span>
					</div>
					<div class="panel-body">
						{{template "_dateinfo.html"}}
                        <div id="legend-wrapper" class="col-md-12 list">
							<div class="col-md-12 col-xs-12">
								<div id="legend-anchor"></div>
								<div id="legend-list" class="col-md-12 col-sm-12 pl15">
								</div>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>

						<div class="col-md-12 individual-month" data-bind="foreach: page.dataPCEachTurbine">
							<div class="col-md-4 col-xs-12 power-curve-item">
								<div data-bind="attr:{id: 'chart-' + Name}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<script>
	fa.setProjectTurbine({{.ProjectList}}, {{.TurbineList}}, "");
</script>