<script src="{{BaseUrl}}res/core/js/page-analytic-power-curve/page-filter-scatter.js?ANTI_CACHE={{.AntiCache}}"></script>
<link rel="stylesheet" type="text/css" href="{{BaseUrl}}res/core/css/page-analytic-power-curve/page-filter-scatter.css">
<style type="text/css">
	.incomplete-icon {
		margin-left: 10px;
		color: #d91e18;
	}
</style>
<div class="row" id="filter-analytic">
	<div class="col-md-12 col-sm-12 ez panel-content">
		<div class="nav nav-pills nav-replace-title" style="padding-left: 5px;">
			<div class="col-md-12 col-sm-12 filter-content">
				<label class="label-filters">Project</label>
				<select class="project-list" id="projectList" name="table" data-bind="kendoDropDownList: { data: fa.projectList, dataValueField: 'value', dataTextField: 'text', optionLabel: 'All Projects', suggest: true }">
                </select>&nbsp;
				<label class="label-filters">Turbine</label>
				<select class="turbine-list input-filter" id="turbineList" name="table" data-bind="kendoDropDownList: { data: fa.turbineList, dataValueField: 'value', dataTextField: 'text', suggest: true }">
                </select>&nbsp;
				<label class="label-filters">Period</label>
				<select class="period-list" id="periodList" name="table" data-bind="kendoDropDownList: { data: fa.periodList, dataValueField: 'value', dataTextField: 'text', suggest: true, change: function() {fa.showHidePeriod()} }">
                </select>
				<span class="show_hide custom-period">
                    <input class="filter-date-start input-filter" type="text" id="dateStart" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy', min: new Date(2013, 01, 01),max:new Date(),change: function(){fa.DateChange()}}" />
                    <label class="label-filters">to</label>
                    <input class="filter-date-end input-filter" type="text" id="dateEnd" data-bind="kendoDatePicker:{value:new Date(),format:'dd-MMM-yyyy',min: new Date(2013, 01, 01),max:new Date(),change: function(){fa.DateChange()}}" />
                </span>
				<button type="button" id="btnRefresh" class="btn btn-sm btn-primary btn-filter-refresh"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
				<span class="incomplete-icon" data-bind="visible: fa.infoPeriodIcon() == true"><i class="fa fa-bell tooltipster tooltipstered faa-tada animated" title="Incomplete period data range" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>
</div>