<script src="{{BaseUrl}}res/core/js/page-loss-analysis/availability.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="col-md-3 col-md-offset-9 ontop">
	<span class="pull-right">
        <span style="font-size:12px;"><b>Breakdown By &nbsp; <i class="fa fa-question-circle tooltipster tooltipstered" aria-hidden="true" title="Show Chart based on the keys"></i></b></span>&nbsp;
	<select class="form-control input-sm" id="breakdownlistavail"></select>
	</span>
</div>
<div class="col-md-12"> 
	<div class="clearfix">&nbsp;</div>
	<br>
	<div id="availabilityChart"></div>
</div>
<div class="col-md-12">
	<div class="clearfix">&nbsp;</div>
	<br>
	<div id="productionChart"></div>
</div>