<script src="{{BaseUrl}}res/core/js/page-loss-analysis/component-alarm.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="col-md-12 Tcenter">
	<div class="nav-CA">
		<div class="btn-group" data-toggle="buttons" id="downtimeGroup">
			<label class="btn btn-sm btn-primary active radio-filter" id="lblComp">
                <input type="radio" name="IsAlarm" id="comp" autocomplete="off" value="true" checked> Component
            </label>
			<label class="btn btn-sm btn-primary radio-filter" id="lblAlarm">
                <input type="radio" name="IsAlarm" id="alarm" autocomplete="off" value="false"> Alarm Type
            </label>
		</div>
	</div>
</div>
<div class="col-md-12">
		<div class="col-md-4">
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading" data-bind="text:pg.labelAlarm() + ' by Duration (Hours)'">Top 10 Turbine Downtime by Duration (Hours)</div>
			<div class="panel-body">
				<div id="chartCADuration"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4" >
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading" data-bind="text:pg.labelAlarm() + ' by Frequency'">Top 10 Turbine Downtime by Frequency</div>
			<div class="panel-body">
				<div id="chartCAFrequency"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4" >
		<div class="panel ez no-padding hardcore">
			<div class="panel-heading" data-bind="text:pg.labelAlarm() + ' by Losses (MWh)'">Top 10 Turbine Downtime by Losses (MWh)</div>
			<div class="panel-body">
				<div id="chartCATurbineLoss"></div>
			</div>
		</div>
	</div>                               	
</div>