<script src="{{BaseUrl}}res/core/js/page-loss-analysis/lost-energy.js?ANTI_CACHE={{.AntiCache}}"></script>

<div class="col-md-6 margin-bottom-25" data-bind="visible:pg.isDetailDTTop()==false">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading ph-availability">Lost Energy (MWh) by Down Time Type</div>
		<div class="panel-body">
			<div id="chartDTLEbyType"></div>
		</div>
	</div>
</div>
<div class="col-md-6 margin-bottom-25" data-bind="visible:pg.isDetailDTTop()==false">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">Top 10 Loss Categories by Total Energy Loss (MWh)</div>
		<div class="panel-body">
			<div id="chartLCByTEL"></div>
		</div>
	</div>
</div>
<div class="col-md-6 margin-bottom-30 margin-top-10" data-bind="visible:pg.isDetailDTTop()==false">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">Top 10 Loss Categories by Duration (Hours)</div>
		<div class="panel-body">
			<div id="chartLCByDuration"></div>
		</div>
	</div>
</div>
<div class="col-md-6 margin-bottom-30 margin-top-10" data-bind="visible:pg.isDetailDTTop()==false">
	<div class="panel ez no-padding hardcore">
		<div class="panel-heading">Top 10 Loss Categories by Frequency</div>
		<div class="panel-body">
			<div id="chartLCByFreq"></div>
		</div>
	</div>
</div>