.pc-wrapper {
    padding: 0 20px;
}
#right-turbine-list {
    max-width: 90%;
}
.turbine-btn{
    margin-bottom: 5px;
    margin-right: 5px;
    height: 20px !important;
    padding: 0;
    margin-left: -1px;
    border-radius: 0px;
}
.turbine-chk, .down-chk{
	width: 20px;
    height: 20px;
    padding-left: 4px;
    color: #fff;
    padding-top: 1px!important;
    border-radius: 0px;
}
.turbine-chk:hover, .down-chk:hover{
    color: #fff;
}
.turbine-chk:active, .down-chk:active{
    color: #fff;
}
.wbtn
{
    font-size: 10px;
    width: 95px;
    font-weight: 600;
    text-align: left;
    padding-left: 2px;
    padding-top: 2px;
}
.wbtn label {
    height: 100%;
    font-size: 11px;
    margin-right: 1px;
    padding-top: 3px;
    padding-right: 1px;
    padding-left: 3px;
    background: #e0e0e0;
}
#showHideChk {
    margin-top: 7.5px;
    margin-left: -15px;
}