.Epdf{
    margin-top: -30px;
    margin-right: 20px;
    cursor:pointer
}

@media(max-width: 991px){
    .fa-file-pdf-o{
        font-size: 16px;
    }
    .Epdf {
        margin-right: 10px;
    }
}

.k-tooltip{
    margin-left: -20px;
}
.turbine-list{
    width: 150px;
}
.project-list{
    width: 150px;
}
.mgb10{
margin-bottom: 2px;
}
.period-list{
    width: 75px;
}
.bread-info {
    margin-top: 11px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.mt15{
    margin-top: 2.5%;
}