.Epdf{
    margin-top: -30px;
    margin-right: 20px;
    cursor:pointer
}

@media(max-width: 991px){
    .fa-file-pdf-o{
        font-size: 16px;
    }
    .Epdf {
        margin-right: 10px;
    }
}

.k-tooltip{
    margin-left: -20px;
}
.turbine-list{
    width: 150px;
}
.project-list{
    width: 150px;
}
.mgb10{
    margin-bottom: 7px;
}
.mgb15{
    margin-bottom: 15px;
}
.period-list{
    width: 75px;
}
.bread-info {
    margin-top: 11px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.mt15{
    margin-top: 2.5%;
}
.paddingLeft-60{
    padding-left: 60px;
}
.label-to{
    width:40px;
    text-align: center;
    margin-left: -5px;
}
.filter-part{
    padding-left: 10px;
}
.template-pdf{
    display: none;
}
.k-pdf-export .title-pdf{
    margin-top: -30px;
    font-size: 12px !important;
    margin-bottom: 30px;
}
.k-pdf-export .template-pdf {
    display: block;
}

.multiselect.dropdown-toggle.btn.btn-default{
    padding: 5px!important;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 12px!important;
    background: #fff;
    width: 160px;
}
.multiselect.dropdown-toggle.btn.btn-default:hover{
    padding: 5px!important;
    border: 1px solid #a9bbc0;
}
.multiselect.dropdown-toggle.btn.btn-default:focus,.multiselect.dropdown-toggle.btn.btn-default:visited{
    padding: 5px!important;
    border: 1px solid #ea5b19;
    box-shadow: 0 0 7px 0 #ea5b19;
}
.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 30px;
}
.multiselect.dropdown-toggle.btn.btn-default {
    border: 1px solid #ecf0f6;
}

#showHideChk {
    margin-top: 7.5px;
    margin-left: -25px;
}
.turList{
    max-height: 200px;
    height: 470px;
    margin-top: -13.5px;
    overflow-x: auto;
    overflow-y: auto;
    margin-left: -10px;
}
.turbine-btn{
    margin-bottom: 5px;
    margin-right: 5px;
    height: 20px !important;
    padding: 0;
    margin-left: -1px;
    border-radius: 0px;
}
.turbine-chk{
    width: 20px;
    height: 20px;
    padding-left: 4px;
    color: #fff;
    padding-top: 1px!important;
    border-radius: 0px;
}
.turbine-chk:hover, .down-chk:hover{
    color: #fff;
}
.turbine-chk:active, .down-chk:active{
    color: #fff;
}
.wbtn {
    font-size: 10px;
    /*width: 80px;*/
    font-weight: 600;
    text-align: left;
    padding-left: 2px;
    padding-top: 2px;
}