.label-to{
    width:40px;
    text-align: center;
    margin-left: -5px;
}
.Epdf{
    margin-top: -30px;
    margin-right: 20px;
    cursor:pointer
}

@media(max-width: 991px){
    .fa-file-pdf-o{
        font-size: 16px;
    }
    .Epdf {
        margin-right: 10px;
    }
}

#legend-list button {
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 2px;
}

#legend-list {
    text-align: center;
}
.label-scatter {
    padding: 3px 5px 3px 3px;
    font-weight: bold;
    font-size: 12px;
}
.scatter-type {
    font-size: 12px;   
}

.scatter-comparison {
    margin-right: 8px;
}

#txtLessVal {
    font-size: 12px;
}

#txtGreaterVal {
    font-size: 12px;
}

.k-tooltip{
    margin-left: -20px;
}

#legend-list {
    padding: 0.5ex;
    background-color: #ffffff;
}

#legend-list.legend {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
.mgb10{
margin-bottom: 2px;
}
.mt15{
    margin-top: 2.5%;
}
.turbine-list{
    width: 150px;
}
.project-list{
    width: 150px;
}
.period-list{
    width: 75px;
}